@import "./notification";

.desktop-nav-layout {
  display: flex;
  align-items: center;
  .myLink {
    cursor: pointer;
    font-size: 17px;
    line-height: 1.44;
    text-align: left;
    margin-left: 24px;
    color: #000000;
    &:hover,
    &:focus,
    &:focus-within {
      color: #7a69b8;
    }
  }
  .myLink-span {
    cursor: pointer;
    font-size: 17px;
    line-height: 1.44;
    text-align: left;
    margin-left: 24px;
    color: #7a69b8;
  }
}

.user-profile-dropDown {
  display: flex;
  align-items: center;
  .header-avatar-img-block {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .user-profile {
    font-size: 18px;
    line-height: 1.44;
    text-align: left;
    color: #000000;
    margin: 0 16px;
  }
}

.user-notification-dropDown {
  position: relative;
  left: 80px;
}
