.gig-details-page {
    font-family: $myFont;
    background-color: #fafafa;
    padding: 80px;
    word-spacing: $wordSpace;

    .gig-main-block {
      width: 70%;
      border: 1px solid black;
      border-radius: 8px;
      background-color: #fff;
  
      // margin:80px;
      .gig-provider-block-One {
        display: flex;
        // justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 40px;
  
        .gig-provider-block-two {
          display: flex;
          margin-left: 40px;
        }
        .gig-provider-block-three {
          margin-left: 40px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 134px;
          width: 100px;
          height: 100px;
          margin: auto;
          border-radius: 100%;
          border: 1px solid rgba(0, 0, 0, 0.4);
          img {
            width: 100%;
          }
        }
        .gig-provider-block-four {
          margin-left: 40px;
          .gig-provider-heading-one {
          }
          .gig-provider-heading-two {
            color: $fontDark;
          }
        }
      }
  
      .gig-brief-block {
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        width: 95%;
        padding: 10px;
        border-radius: 8px;
        background: aliceblue;
        .gig-brief-content {
          // display: flex;
          // flex-direction: column;
          text-align: center;
          h5 {
            color: $fontDarker;
            font-size: 14px;
            margin-bottom: 1px;
          }
          h4 {
            color: $fontLight;
            font-size: 16px;
            margin-bottom: 0px;
          }
        }
      }
      .boundary-one {
        border-bottom: 1px solid lightGray;
        width: 90%;
        margin: 20px auto 40px;
        // margin-left: auto;
        // margin-right: auto;
        // margin-bottom: 40px ;
        // margin-top: 20px ;
      }
      .gig-detail-block {
        margin-left: 40px;
        margin-right: 40px;
      }
      .apply-block {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 -2px 14px 0 #a5adba;
      }
    }
  }