.gig-details-page {
  font-family: $myFont;
  word-spacing: $wordSpace;
  background-color: #fafafa;
  padding: 100px 0px 80px 0px;
  display: flex;
  justify-content: center;

  .gig-main-block {
    width: 55%;
    padding: 20px 46px 46px 46px;
    border-radius: 8px;
    background-color: #fff;

    .gig-provider-block-One {
      display: flex;
      margin-top: 20px;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 24px;

      .gig-provider-block-two {
        display: flex;
        // margin-left: 40px;
      }
      .gig-provider-block-three {
        width: 120px;
        height: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        img {
          width: 100%;
        }
      }
      .gig-provider-block-four {
        margin-left: 32px;
        .gig-provider-heading-one {
          line-height: 1.43;
          margin: 0px;
        }
        .gig-provider-heading-two {
          color: $fontDark;
          font-size: 22px;
          line-height: 1.36;
        }
        .update-message-block {
          display: flex;
          align-items: center;
          border: 1px solid #1bba27;
          padding-right: 82px;
          border-radius: 3px;
          .update-message-block__icon {
            width: 22px;
            margin: 8px 32px 8px 36px;
          }
          .update-message-block__span {
            font-size: 14px;
            font-weight: 500;
            color: #1bba27;
            border-radius: 3px;
          }
          .update-message-block__span.link {
            color: red;
          }
        }
      }
    }

    .gig-brief-block {
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      // margin: auto;
      // padding: 10px;
      border-radius: 8px;
      // background: #f9f9fd;
      .gig-brief-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100px;
        height: 95px;

        border-radius: 7px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
        background-color: #f3f3f3;
        h5 {
          color: $fontDarker;
          font-size: 14px;
          margin-bottom: 1px;
        }
        h4 {
          color: $fontLight;
          font-size: 16px;
          margin-bottom: 0px;
        }
      }
    }
    .boundary-one {
      border-bottom: 1px solid #e8e8e8;
      margin: 20px auto 36px;
    }
    .gig-detail-block {
      margin-right: 40px;
      div {
        h2 {
        }
        div.carousel-block {
          div.carousel-content-block {
            // border: 1px solid;
            padding: 20px;
            width: 95%;
            text-align: center;
            box-shadow: 0 0 8px 0 #cecfcf;
            margin: 20px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 4px;
            background-color: #f9f9fd;
            h4.carousel-content-block__h4 {
              font-size: 16px;
              width: 90%;
              // margin: 0 auto;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }

            img.carousel-content-block__img {
              margin-bottom: 12px;
            }

            button.carousel-content-block__button {
              color: #fff;
              background-color: rgba(37, 46, 183, 0.36);
              border: 1px solid rgba(37, 46, 183, 0.36);
            }
          }
          div {
          }
        }
      }
    }
    .apply-block {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.16);
      .apply-button-block {
        width: 207px;
        height: 40px;
        border-radius: 26px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        background-image: linear-gradient(103deg, #5a87e5 4%, #37cfdd 95%);
      }
    }
  }
}
