div {
  div.headerNav {
    display: flex;
    top: 0px;
    justify-content: space-evenly;
    height: 66px;
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 16px -6px black;

    .link-container {
      display: flex;
      .myLink {
        cursor: pointer;
        margin: 0px 28px 0px 0px;
        font-weight: 500;
        padding: 8px 25px;
        font-size: 16px;
        color: #344563;
      }
    }
    .ant-dropdown-link {
      font-size: 16px;
      color: #344563;
      font-weight: 500;
    }
  }
}
