.footer-main-block {
  // background-color: #444584;
  // padding: 70px 70px 40px 70px;
  .border-block {
    display: flex;
    border-width: 1px 0;
    border-color: #333e49;
    border-style: solid;
    margin: 70px 100px 0 100px;
    .pracify-section {
      flex: 1;
      border-right: 1px solid;
      padding: 40px 0 20px 28px;
      // border-width: 1px 1px 1px 0;
      // border-style: solid;
      // border-color: #333e49;

      .logo-block {
        position: relative;
        bottom: 16px;
        .logoImg {
        }
      }

      .pracify__para {
        margin-bottom: 24px;
        width: 430px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        color: #333e49;
      }

      .download-pracify-block {
        .google-playStore-icon,
        .apple-playStore-icon {
          width: 124px;
          height: 40px;
          cursor: pointer;
        }

        .apple-playStore-icon {
          margin-left: 12px;
        }
      }

      .address__para {
        width: 400px;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
      }

      .copyright__para {
        font-size: 12px;
        line-height: 1.5;
        color: #ffffff;
        .copyright__icon {
        }
      }

      .love__para {
        font-size: 12px;
        line-height: 1.5;
        color: #ffffff;
        .love-icon {
        }
      }
    }

    %header {
      // margin: 0;
      font-size: 15px;
      font-weight: 600;
      line-height: 2;
      letter-spacing: 0.75px;
      color: #333e49;
    }
    %link {
      // margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 2.14;
      color: #959595;
      cursor: pointer;
    }

    .link-main-block {
      padding: 40px 0px 20px;
      display: flex;
      flex: 1;

      // border-width: 1px 0;
      // border-style: solid;
      // border-color: #333e49;
      .company-block {
        padding-left: 60px;
        .footer__header {
          @extend%header;
        }
        .footer__link {
          @extend%link;
        }
      }
    }

    .legal-block {
      padding-left: 60px;

      .footer__header {
        @extend%header;
      }

      .footer__link {
        @extend%link;
      }
    }

    .get-in-touch-block {
      padding-left: 60px;

      .footer__header {
        @extend%header;
      }

      .footer__link {
        @extend%link;
      }
    }
  }

  .sub-footer {
    margin: 24px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .love__para {
      margin: 0;
      font-size: 16px;
      color: #333e49;
      .love-icon {
      }
    }
    .copyright__para {
      margin: 0;
      font-size: 16px;
      color: #333e49;
      .copyright__icon {
      }
    }
    .social-block {
      display: flex;
      .footer__link {
        cursor: pointer;
        margin-right: 24px;
      }
      .footer__link:last-child {
        margin-right: 0;
      }
    }
  }

  // footer
  @media (min-width: $bigTabletScreen) and (max-width: $smallLaptopScreen) {
    .border-block {
      .company-block {
        padding-left: 60px;
      }
      .legal-block {
        padding-left: 60px;
      }
      .get-in-touch-block {
        padding-left: 60px;
      }
    }
  }
  @media (min-width: $smallTableScreen) and (max-width: $bigTabletScreen) {
    .border-block {
      margin: 0 20px;
      .pracify-section {
        flex: 1;
        .pracify__para {
          width: initial;
        }
        .address__para {
          width: initial;
        }
      }
      .company-block {
        padding-left: 40px;
      }
      .legal-block {
        padding-left: 40px;
      }
      .get-in-touch-block {
        padding-left: 40px;
      }
    }
    .sub-footer {
      margin: 16px 20px;
    }
    .copyright-block {
      .copyright__para {
        margin: 0 20px;
      }
    }
  }
  @media (min-width: $mobileScreen) and (max-width: $smallTableScreen) {
    .border-block {
      margin: 0 20px;
      .pracify-section {
        .pracify__para {
          width: initial;
          font-size: 12px;
        }
        .address__para {
          width: initial;
          font-size: 12px;
        }
      }
      .company-block {
        margin-left: 12px;
        padding: 0 10px;
        .footer__header {
          font-size: 14px;
        }
        .footer__link {
          font-size: 12px;
        }
      }
      .legal-block {
        padding: 0 10px;
        .footer__header {
          font-size: 14px;
        }
        .footer__link {
          font-size: 12px;
        }
      }
      .get-in-touch-block {
        padding: 0 10px;
        .footer__header {
          font-size: 14px;
        }
        .footer__link {
          font-size: 12px;
        }
      }
    }
    .sub-footer {
      margin: 16px 20px;
      .social-block {
        img {
          width: 18px;
        }
      }
      .love__para {
        font-size: 16px;
        margin: 0;
      }
      .download-pracify-block {
        .google-playStore-icon {
          width: 75px;
          height: 25px;
        }
        .apple-playStore-icon {
          width: 75px;
          height: 25px;
        }
      }
    }

    .copyright-block {
      .copyright__para {
        margin: 0 20px;
      }
    }
  }
  @media (max-width: $mobileScreen) {
    .border-block {
      margin: 0 20px;
      flex-direction: column;

      .pracify-section {
        margin-right: 12px;
        .pracify__para {
          width: initial;
          font-size: 12px;
        }
        .address__para {
          width: initial;
          font-size: 12px;
        }
      }
      .company-block {
        margin: 0 0 20px 0;
        padding: 0 10px;
        .footer__header {
          font-size: 14px;
          margin-bottom: 4px;
        }
        .footer__link {
          font-size: 12px;
        }
      }
      .legal-block {
        padding: 0 10px;
        margin: 0 0 20px 0;

        .footer__header {
          font-size: 14px;
          margin-bottom: 4px;
        }
        .footer__link {
          font-size: 12px;
        }
      }
      .get-in-touch-block {
        padding: 0 10px;
        margin: 0 0 20px 0;

        .footer__header {
          font-size: 14px;
          margin-bottom: 4px;
        }
        .footer__link {
          font-size: 12px;
        }
      }
    }
    .sub-footer {
      flex-direction: column;
      margin: 16px 20px;
      .social-block {
        img {
          width: 18px;
        }
        margin-bottom: 18px;
      }
      .love__para {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
    .copyright-block {
      display: flex;
      justify-content: center;
      .copyright__para {
        margin: 0 20px;
      }
    }
  }
}
