.pwp-main-block {
  margin-top: 120px;
  font-family: $myFont;

  .pwp-hero-block {
    margin: 0px 80px 40px;

    display: grid;
    grid-template:
      "head img" 1fr
      "para img"
      "button img" 1fr;

    .pwp-hero-head {
      grid-area: head;
      align-self: flex-end;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      color: #333e49;
    }

    .pwp-hero-para {
      grid-area: para;
      margin-right: 112px;
      font-size: 18px;
      line-height: 1.22;
      color: #333e49;
    }
    .pwp-hero-img {
      grid-area: img;
    }

    .pwp-hero-button {
      grid-area: button;
      width: 242px;
      height: 69px;
      border-radius: 35px;
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.1);
      background-color: #38bdba;
      border: 1px solid #38bdba;

      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      color: #ffffff;
    }
  }

  .partnership-advantage {
    margin: 0px 80px 40px;
    opacity: 0.1;
    font-size: 86px;
    font-weight: 900;
    line-height: 1.2;
    color: #333e49;
  }

  .partnership-advantage-main-block {
    margin: 0px 60px 80px;
    display: flex;
    justify-content: space-between;
    .partnership-advantage-block {
      flex: 1;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 40px;
      border-radius: 18px;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      text-align: center;
      .partnership-advantage-img {
        margin-bottom: 20px;
      }

      .partnership-advantage-head {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        color: #333e49;
      }

      .partnership-advantage-para {
        font-size: 18px;
        line-height: 1.36;
        color: #333e49;
      }
    }
  }
  .partnership-button-block {
    margin: 0 80px 80px;
    text-align: center;
    .partnership-button {
      width: 321px;
      height: 86px;
      border-radius: 43px;
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.1);
      background-color: #38bdba;
      border: 1px solid #38bdba;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.21;
      color: #ffffff;
    }
  }
}
