$base-color: #f3f3f3;
$card-background-color: #fff;

.homePage-block {
  font-family: $myFont;
  padding: 100px 0 0;
  background: #f4f4f4;
  .avatar-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    .avatar-detail-block {
      display: flex;
      border-radius: 16px;
      max-width: 54%;
      min-width: 17rem;
      background: $card-background-color;
      .avatar-border-block {
        background-color: #444584;
        padding: 45px 75px;
        border-radius: 16px;
        .avatar-img-block {
          background-color: #fff;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 120px;
          border-radius: 100%;
          border: 3px solid #fff;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .avatar-profile-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
        h3 {
          font-size: 27px;
          font-weight: 600;
          line-height: 1.43;
          color: #333e49;
          margin: 0;
          text-align: center;
        }
        .welcome-msg__p {
          opacity: 0.8;
          font-size: 25px;
          line-height: 1.38;
          color: #333e49;
          margin: 0;
        }
        .ant-divider-horizontal {
          margin: 12px 0px;
        }
        // .notification-block {
        //   display: flex;
        //   justify-content: space-between;
        //   align-items: center;
        //   p {
        //     margin: 0px 10px;
        //     font-size: 16px;
        //     flex: 1;
        //     text-align: center;
        //   }
        // }
      }
    }
    .credit-card-block {
      margin-left: 60px;
      width: 395px;
      position: relative;
      .credit-card__img {
        width: 100%;
      }
      .credit-card__check-wallet {
        position: absolute;
        top: 24px;
        right: 64px;
        display:flex;

        cursor: pointer;
        .credit-card__title {
          font-size: 15px;
          font-weight: 900;
          color: #2f445d;
          display: flex;
        align-items: center;
        justify-content:center;
        width:100%;
          img {
            margin-bottom: 4px;
            margin-left: 8px;
          }
        }
      }
      .credit-card__details {
        position: absolute;
        bottom: 26px;
        left: 44px;
        color: #fff;
        .credit-card__number {
          font-size: 22px;
          color: #ffffff;
          span:nth-child(1) {
            font-size: 16px;
            margin-right: 8px;
          }
        }
        .credit-card__holder {
          font-size: 11px;
          line-height: 1.8;
          color: #ffffff;
        }
        .credit-card__name {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
        }
      }
      .credit-card__validity {
        position: absolute;
        bottom: 26px;
        right: 96px;
        color: #fff;
        .credit-card__validity-span {
          font-size: 11px;
          line-height: 1.8;
          color: #ffffff;
        }
        .credit-card__validity-duration {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
        }
      }
    }
  }

  .stat-block {
    width: 100%;
    padding: 48px 0px;
    background: #fff;

    .stat-card-block {
      display: flex;
      justify-content: center;

      %main-block {
        position: relative;
        display: flex;
        width: 13%;
        border-radius: 7px;
        margin-right: 50px;
        cursor: pointer;
      }
      %image {
        position: absolute;
        left: -30px;
        align-self: center;
      }
      %heading-para-block {
        margin-left: 42px;
        margin-right: 20px;
        padding: 22px 0;
      }
      %headingStat {
        font-size: 16px;
        margin: 0px;
      }
      %paragraph {
        font-size: 12px;
        margin: 0px;
        color: #000;
      }
      %arrow-icon {
        position: absolute;
        padding: 7px 9px;
        border-radius: 7px 0 7px 0;
        right: 0px;
        bottom: 0px;
      }

      .student-status-block {
        @extend %main-block;
        border: solid 0.5px #334d5c;
        background-color: #eff9ff;
        margin-left: 30px;
        .student-status__img {
          @extend %image;
        }
        .student-status-text-block {
          @extend %heading-para-block;
          h1.heading {
            @extend %headingStat;
          }
          p.para {
            @extend %paragraph;
          }
          .arrowIcon-one {
            @extend %arrow-icon;
            background: #334d5c;
          }
        }
      }
      .my-gig-block {
        @extend %main-block;
        border: solid 0.5px #e05b49;
        background-color: #fff4f2;
        .my-gig__img {
          @extend %image;
        }

        .my-gig-text-block {
          @extend %heading-para-block;
          h1.heading {
            @extend %headingStat;
          }

          p.para {
            @extend %paragraph;
          }

          .arrowIcon-two {
            @extend %arrow-icon;
            background: #e05b49;
          }
        }
      }

      .my-internship-block {
        @extend %main-block;
        border: solid 0.5px #ffd05b;
        background-color: #fffbf1;

        .my-internship__img {
          @extend %image;
        }

        .my-internship-text-block {
          @extend %heading-para-block;
          h1.heading {
            @extend %headingStat;
          }

          p.para {
            @extend %paragraph;
          }

          .arrowIcon-three {
            @extend %arrow-icon;
            background: #ffd05b;
          }
        }
      }

      .my-resume-block {
        @extend %main-block;
        border: solid 0.5px #444584;
        background-color: #e8e8ff;
        .my-resume__img {
          @extend %image;
        }

        .my-resume-text-block {
          @extend %heading-para-block;
          h1.heading {
            @extend %headingStat;
          }

          p.para {
            @extend %paragraph;
          }

          .arrowIcon-four {
            @extend %arrow-icon;
            background: #7d7bb7;
          }
        }
      }

      .gig-profile-block {
        @extend %main-block;
        border: solid 0.5px #90dfaa;
        background-color: #ecfff2;
        margin-right: 0px;
        .gig-profile__img {
          @extend %image;
        }

        .gig-profile-text-block {
          @extend %heading-para-block;
          h1.heading {
            @extend %headingStat;
          }

          p.para {
            @extend %paragraph;
          }

          .arrowIcon-five {
            @extend %arrow-icon;
            background: #90dfaa;
          }
        }
      }
    }
  }

  .overview-main-block {
    display: flex;
    justify-content: center;
    padding: 35px 0;
    .myOverview-main-block {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 18px 30px;
      width: 45%;
      border-radius: 13px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      .myOverview-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin: 0 8px;
        cursor: pointer;
        .myOverview-img-block {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 66px;
          height: 66px;
          background-color: #eaeaff;
          border-radius: 33px;
          .myOverview-img {
          }
        }
        .myOverview-para {
          font-size: 15px;
          line-height: 1.2;
          color: #333e49;
          margin: 16px 0 0;
        }
      }
    }


    .verification-score-block {
      cursor: pointer;
      padding: 20px 30px 20px 44px;
      // margin-left: 5vw;
      position: relative;
      left:27px;
      // margin-right:10px;
      display: flex;
      align-items: center;
      width: 40%;
      min-width:20rem ;
      border-radius: 24px;
      background-color: #f3fefd;

      .verification-score-img-block {
        background-image: url("../../assets/img/circleBlue.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 40px;
      }

      .verification-score-content {
        h1 {
          font-size: 24px;
          font-weight: 500;
          line-height: 1.42;
          color: #333743;
        }

        p {
          font-size: 17px;
          line-height: 1.35;
          color: #525252;
        }

        .verification-update__button {
          padding: 0;
          border: none;
          background: transparent;
          font-weight: 700;
          box-shadow: none;

          font-size: 17px;
          line-height: 1.35;
          color: #52bdb2;
        }
      }
    }
  }

  .gigOrInternship-block {
          background-color: #fff;
    .ant-tabs {
      background-color: #fff;
      padding: 36px 10vw;
      .ant-tabs-bar {
        display: flex;
        justify-content: space-between;
        .ant-tabs-tab {
          border-bottom: 1px solid #d3d3d3;
          &:hover {
            color: #000;
          }
        }
        .ant-tabs-tab.ant-tabs-tab-active {
          font-weight: 600;
          color: #000;
        }
        .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
          background-color: #000;
        }
        h1 {
          margin: 7px;
          line-height: 1;
          font-size: 26px;
          font-weight: 600;
          color: #333e49;
        }
      }
    }

    .block {
      background-color: $card-background-color;
      margin-bottom: 20px;
      padding: 0px 40px 40px 40px;
      border-radius: 8px;
      .heading {
        padding-top: 20px;
      }
    }
    .recommended-block {
      display: flex;
      padding-top: 20px;
      justify-content: center;
      background-color: $card-background-color;
    }
    .trending-block {
      display: flex;
      padding-top: 20px;
      justify-content: center;
      background-color: $card-background-color;
    }
    .latest-block {
      display: flex;
      padding-top: 20px;
      justify-content: center;
      background-color: $card-background-color;
    }
  }
}

%user-block {
  border-radius: 8px;

  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);

  background-color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

%user-content-with-icon {
  display: flex;
  margin: 20px 26px;
  align-items: center;
  justify-content: space-between;
}

%user-icon {
  align-self: flex-start;
}

%icon-heading-block {
  display: flex;
  align-items: center;
}
%profile-heading {
  margin: 0px 0px 0px 15px;
  font-size: 18px;
  font-weight: 600;
  color: #333e49;
}

%user-content {
  margin-top: 8px;
}

%user-button {
  align-self: center;
  margin-bottom: 20px;
}

.profilePage-block {
  background-color: $base-color;
  font-family: $myFont;
  display: flex;
  padding: 100px 0px 80px 0px;

  justify-content: center;
  align-items: flex-start;

  .avatar-profile-detail-block {
    background: $card-background-color;
    width: 52.15%;
    margin-left: 45px;
    padding: 30px 35px;
    border-radius: 8px;
  }

  .about-avatar-block {
    @extend %user-block;
    .about-avatar-content-block {
      @extend %user-content-with-icon;
      .icon-heading {
        @extend%icon-heading-block;
        .about-avatar-img {
          @extend %user-icon;
        }
        .about-avatar-content {
          h2 {
            @extend%profile-heading;
          }
        }
        .about-content-block {
          padding-left: 15px;
          border-left: 2px solid #5468d1;
          @extend%user-content;
          .about-content-block__p {
            margin: 0;
          }
        }
      }
    }
    .about-avatar-button {
      @extend %user-button;
    }
  }

  .offline-available-avatar-block {
    @extend %user-block;
    .offline-available-avatar-content-block {
      @extend %user-content-with-icon;
      .icon-heading {
        @extend%icon-heading-block;
        .offline-available-avatar-img {
          @extend %user-icon;
        }
        .offline-available-avatar-content {
          .vehicles {
            display: flex;
            margin: 1rem;
            justify-content: space-around;
            .single-vehicle {
              width: 8rem;
              padding: 1rem;
              box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
              border-radius: 8px;
            }
          }
          h2 {
            @extend%profile-heading;
          }
        }
        .offline-gigs {
          padding-left: 15px;
          .pin-img {
            margin-right: 0.5rem;
          }
          .location-name {
            margin: 15px 0;
            color: #6b6b6b;
          }
          .willing-to-travel-btn {
            padding: 8px 1rem;
            border: 1px solid #137efc;
            border-radius: 3rem;
            color: #137efc;
            font-weight: 500;
            cursor: pointer;
          }
          .btn-and-vehicles {
            margin-top: 12px;
            display: flex;
            justify-content: space-around;
            .travel-btn {
              border-radius: 15px;
              border: solid 2px #444584;

              font-size: 14px;
              font-weight: 500;
              color: #444584;
            }
            .vehicles {
              margin: 0 1rem;
              .vehicle {
                margin: 0 0.5rem;
              }
            }
          }
        }
      }
      .offline-available-avatar-button {
        @extend %user-button;
      }
    }
  }

  .language-of-avatar-block {
    @extend %user-block;
    .language-of-avatar-content-block {
      @extend %user-content-with-icon;
      .icon-heading {
        @extend%icon-heading-block;
        .language-of-avatar-img {
          @extend %user-icon;
        }
        .language-of-avatar-content {
          h2 {
            @extend%profile-heading;
          }
        }
      }
    }
    .language-of-avatar-button {
      @extend %user-button;
    }
    .selected-languages {
      display: flex;
      flex-wrap: wrap;
      padding-left: 10px;
      @extend%user-content;
      .single-selected-language {
        padding: 0.5rem 1.5rem;
        border: 2px solid #444584;
        border-radius: 8px;
        margin: 12px 8px 0px 12px;
      }
    }
  }

  .skill-of-avatar-block {
    @extend %user-block;
    .skill-of-avatar-content-block {
      @extend %user-content-with-icon;
      .icon-heading {
        @extend%icon-heading-block;
        .skill-of-avatar-img {
          @extend %user-icon;
        }
        .skill-of-avatar-content {
          h2 {
            @extend%profile-heading;
          }
        }
      }
    }
    .skill-of-avatar-button {
      @extend %user-button;
    }

    .skill-list {
      padding-left: 10px;
      display: flex;
      flex-wrap: wrap;
      @extend%user-content;
      .single-skill {
        padding: 0.5rem 1.25rem;
        border-radius: 8px;
        border: 2px solid #444584;
        margin: 4px 8px 4px 0px;
      }
    }
  }

  .avatar-digital-profile-block {
    @extend %user-block;
    .avatar-digital-profile-content-block {
      @extend %user-content-with-icon;
      .icon-heading {
        @extend%icon-heading-block;
        .avatar-digital-profile-img {
          @extend %user-icon;
          margin-top: 2px;
        }
        .avatar-digital-profile-content {
          h2 {
            @extend%profile-heading;
          }
        }
      }
    }
    .social-media {
      width: 80%;
      margin: 0 auto 20px auto;
      display: flex;
      justify-content: center;
      .single-icon-block {
        margin: 0px 20px;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .single-icon-img {
          width: 100%;
        }
      }
    }
    .fb-block {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 8px;
      input {
        width: 80%;
      }
    }
    .insta-block {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 8px;
      input {
        width: 80%;
      }
    }
    .tik-tok-block {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 8px;
      input {
        width: 80%;
      }
    }
    .avatar-digital-profile-button {
      @extend %user-button;
      margin: 20px 0px;
    }
  }
}
