.resume-with-userCard-block {
  background-color: #f3f3f3;
  font-family: $myFont;
  display: flex;
  padding: 100px 0px 80px 0px;
  justify-content: center;
  align-items: flex-start;
  .resume-block {
    background: $card-background-color;
    margin-left: 45px;
    padding: 30px 35px;
    width: 52.15%;
    border-radius: 8px;
  }
}

//! -------------------------------individual block------------------------------ */
.user-data-main-block {
  border-radius: 8px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  .user-data-block {
    margin: 20px 26px;
    display: grid;
    align-items: center;
    grid-template:
      "img head icon"
      "img content content" 1fr/0.05fr 1fr 0fr;
    .user-data-img {
      grid-area: img;
    }

    .user-data-head {
      grid-area: head;
      font-size: 18px;
      font-weight: 600;
      margin: 0 0 0 15px;
    }

    .user-data-icon {
      grid-area: icon;
      cursor: pointer;
    }

    .all-user-data-content {
      grid-area: content;
      .user-data-content-main-block {
        margin-top: 20px;
        border-left: 2px solid #5468d1;
        display: grid;
        grid-template: "userData UDIcon" /1fr 0.1fr;
        .user-data-content-block {
          grid-area: userData;
          padding-left: 15px;
          .user-data-h1 {
            font-size: 16px;
            opacity: 0.6;
            color: #000000;
          }
          .user-data-h2 {
            font-size: 14px;
            line-height: 1.2;
            opacity: 0.5;
            color: #000000;
          }
          .user-data-para {
            font-size: 16px;
            line-height: 1.2;
            opacity: 0.5;
            color: #000000;
          }
          .user-data-link {
            font-size: 16px;
            color: #1890ff;
          }
          #user-data-last-el {
            margin: 0;
          }
        }

        .user-data-content-icon-block {
          grid-area: UDIcon;
          display: flex;
          align-self: flex-start;
          justify-content: flex-end;
          align-items: center;
          .user-data-content-icon {
            margin-left: 8px;
            cursor: pointer;
          }
        }
      }
      .user-data-content-main-block:nth-child(1) {
        margin-top: 12px;
      }
      .user-data-content-img-block {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto auto;
        .user-data-img-block {
          padding: 20px;
          margin: 0 20px;
          border-radius: 8px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
          img {
            width: 28px;
          }
        }
        .user-data-img-block:nth-child(-n + 5) {
          margin: 15px 20px 20px;
        }
      }
      .user-data-content-msg-block {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        .user-data-content-msg {
          margin: 12px 8px 0px 12px;
          padding: 9px 24px;
          border-radius: 8px;
          border: solid 2px #666;

          font-size: 14px;
          line-height: 1.14;
          color: #666;
        }
        .user-data-content-msg.profession {
          padding: 12px 42px;
          border-radius: 21px;
          border: solid 2px #444584;
          color: #444584;
        }
      }
    }
  }
}

.all-user-skill-content {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  .user-data-skill-block {
    width: max-content;
    .skill-data-block {
      width: max-content;
      display: flex;
      align-items: center;
      margin: 12px 8px 0px 0;
      padding: 9px 24px;
      border-radius: 8px;
      border: solid 2px #666;
      font-size: 14px;
      line-height: 1.14;
      color: #666;
      .skill-data__p {
        margin: 0px 8px 0px 0px;
      }

      .skill-data__rating {
      }
      .skill-edit-data__rating {
        position: absolute;
        justify-content: center;
        width: 100%;
        background-color: currentColor;
        display: flex;
        align-items: center;
        padding: 0.5rem 1.5rem;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 8px;
        margin: 0px 8px 0px -24px;

        .ant-rate {
          margin-right: 12px;
        }
        .cancel__icon {
          position: absolute;
          right: -5px;
          bottom: -5px;
          cursor: pointer;
        }
      }
    }
  }
}
