%inputLabel {
  color: #7a869a;
  font-size: 16px;
  opacity: 0.6;
  line-height: 1.38;
  margin-bottom: 2px;
}

%modal-form {
  display: flex;
  flex-direction: column;
}

%modal-form-sec {
  margin-bottom: 8px;
}

%modal-form__input {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  height: 40px;
  text-indent: 8px;
}

%modal-form__select {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  height: 40px;

  padding-left: 8px;

  font-size: 15px;

  appearance: none;
  -webkit-appearance: none;
  background-image: url(../../components/userResume/img/expand_more.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;

  option {
    font-size: 15px;
    font-weight: 500;
  }
}

%modal-form__textarea {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  // word-spacing: $wordSpace;
  padding-left: 8px;
  // height: 40px;
}

%modal-form__button {
  align-self: center;
  margin-top: 16px;
  width: 115px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid #444584;
  background-color: #444584;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
}

.objective-modal__form {
  @extend %modal-form;
  .input-label {
    @extend %inputLabel;
  }
  .objective-modal__textarea {
    @extend %modal-form__textarea;
    min-height: 160px;
    max-height: 160px;
  }
  .objective-modal__button {
    @extend %modal-form__button;
  }
}

.education-modal {
  top: 80px;
  .education-modal__form {
    @extend %modal-form;
    .education-modal-sec-one {
      @extend %modal-form-sec;
      .input-label {
        @extend %inputLabel;
      }
      .education-modal-sec-one__select {
        @extend %modal-form__select;
      }
    }

    .education-modal-sec-two {
      @extend %modal-form-sec;
      .input-label {
        @extend %inputLabel;
      }
      .education-modal-sec-two__input {
        @extend %modal-form__input;
      }
    }

    .education-modal-sec-three {
      @extend %modal-form-sec;
      .input-label {
        @extend %inputLabel;
      }
      .education-modal-sec-three__input {
        @extend %modal-form__input;
      }
    }
    .education-modal-sec-four {
      @extend %modal-form-sec;
      .input-label {
        @extend %inputLabel;
      }
      .education-modal-sec-four-block {
        display: flex;
        .education-modal-sec-four-block__input {
          @extend %modal-form__input;
          width: 120px;
        }
        .education-modal-sec-four-block__select {
          @extend %modal-form__select;
          width: 22%;
          margin-left: 20px;
        }
      }
    }

    .education-modal-block {
      @extend %modal-form-sec;
      display: flex;
      .education-modal-block-sec-one {
        display: flex;
        flex-direction: column;
        .input-label {
          @extend %inputLabel;
        }
        .education-modal-block-sec-one__select-one {
          @extend %modal-form__select;
          width: 120px;
        }
      }
      .education-modal-block-sec-two {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .input-label {
          @extend %inputLabel;
        }
        .education-modal-block-sec-two__select-one {
          @extend %modal-form__select;
          width: 120px;
        }
      }
    }

    .education-modal-sec-five {
      display: flex;
      align-items: center;
      .education-modal-sec-five__checkbox {
      }
      .education-modal-sec-five__head {
        @extend %inputLabel;
        margin: 0px 0px 0px 10px;
      }
    }

    .education-modal__button {
      @extend %modal-form__button;
    }
  }
}

.experience-modal {
  top: 20px;
  .experience-modal__form {
    @extend %modal-form;
    .experience-modal-sec-one {
      @extend %modal-form-sec;
      .experience-modal-sec-one__head {
        @extend %inputLabel;
      }
      .experience-modal-sec-one__input {
        @extend %modal-form__input;
      }
    }

    .experience-modal-sec-two {
      @extend %modal-form-sec;
      .experience-modal-sec-two__head {
        @extend %inputLabel;
      }
      .experience-modal-sec-two__input {
        @extend %modal-form__input;
      }
    }

    .experience-modal-sec-three {
      @extend %modal-form-sec;
      .experience-modal-sec-three__head {
        @extend %inputLabel;
      }
      .experience-modal-sec-three__textarea {
        @extend %modal-form__textarea;
        min-height: 95px;
        max-height: 95px;
      }
    }
    .experience-modal-sec-four {
      @extend %modal-form-sec;
      .experience-modal-sec-four__head {
        @extend %inputLabel;
      }
      .experience-modal-sec-four__input {
        @extend %modal-form__input;
      }
    }

    .experience-modal-sec-five {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .experience-modal-sec-five__head {
        @extend %inputLabel;
        margin: 0px 0px 0px 10px;
      }
    }
    .startOrEndYear-block {
      display: flex;
      .experience-modal-sec-six {
        width: 40%;
        .experience-modal-sec-six__head {
          @extend %inputLabel;
        }
        .experience-modal-sec-six-block {
          display: flex;
          align-items: center;
          .experience-modal-sec-six__select-one {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
          .date-separator {
            font-size: 24px;
            margin: 0 12px;
          }
          .experience-modal-sec-six__select-two {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
        }
      }

      .experience-modal-sec-seven {
        width: 40%;
        .experience-modal-sec-seven__head {
          @extend %inputLabel;
        }
        .experience-modal-sec-seven-block {
          display: flex;
          align-items: center;
          .experience-modal-sec-seven__select-one {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
          .date-separator {
            font-size: 24px;
            margin: 0 12px;
          }
          .experience-modal-sec-seven__select-two {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
        }
      }
    }

    .experience-modal-sec-eight {
      display: flex;
      align-items: center;
      margin-top: 8px;
      .experience-modal-sec-eight__head {
        @extend %inputLabel;
        margin: 0px 0px 0px 10px;
      }
    }
    .experience-modal__button {
      @extend %modal-form__button;
    }
  }
}

.position-modal__form {
  @extend %modal-form;
  .position-modal-sec-one {
    @extend %modal-form-sec;
    .position-modal-sec-one__head {
      @extend %inputLabel;
    }
    .position-modal-sec-one__input {
      @extend %modal-form__input;
    }
  }

  .position-modal-sec-two {
    @extend %modal-form-sec;
    margin-bottom: 0px;
    .position-modal-sec-two__head {
      @extend %inputLabel;
    }
    .position-modal-sec-two__textarea {
      @extend %modal-form__textarea;
      min-height: 95px;
      max-height: 95px;
    }
  }
  .position-modal__button {
    @extend %modal-form__button;
  }
}

.training-modal__form {
  @extend %modal-form;
  .training-modal-sec-one {
    @extend %modal-form-sec;
    .training-modal-sec-one__head {
      @extend %inputLabel;
    }
    .training-modal-sec-one__input {
      @extend %modal-form__input;
    }
  }

  .training-modal-sec-two {
    @extend %modal-form-sec;
    margin-bottom: 0px;
    .training-modal-sec-two__head {
      @extend %inputLabel;
    }
    .training-modal-sec-two__textarea {
      @extend %modal-form__textarea;
      min-height: 95px;
      max-height: 95px;
    }
  }
  .training-modal__button {
    @extend %modal-form__button;
  }
}

.project-modal {
  top: 80px;
  .project-modal__form {
    @extend %modal-form;
    .project-modal-sec-one {
      @extend %modal-form-sec;
      .project-modal-sec-one__head {
        @extend %inputLabel;
      }
      .project-modal-sec-one__input {
        @extend %modal-form__input;
      }
    }

    .project-modal-sec-two {
      @extend %modal-form-sec;
      .project-modal-sec-two__head {
        @extend %inputLabel;
      }
      .project-modal-sec-two__input {
        @extend %modal-form__input;
        min-height: 95px;
        max-height: 95px;
      }
    }

    .project-modal-sec-three {
      @extend %modal-form-sec;
      .project-modal-sec-three__head {
        @extend %inputLabel;
      }
      .project-modal-sec-three__input {
        @extend %modal-form__input;
      }
    }

    .startOrEndYear-block {
      display: flex;
      .project-modal-sec-four {
        width: 40%;
        .project-modal-sec-four__head {
          @extend %inputLabel;
        }
        .project-modal-sec-four-block {
          display: flex;
          align-items: center;
          .project-modal-sec-four__select-one {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
          .date-separator {
            font-size: 24px;
            margin: 0 24px;
          }

          .project-modal-sec-four__select-two {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
        }
      }

      .project-modal-sec-five {
        width: 40%;
        .project-modal-sec-five__head {
          @extend %inputLabel;
        }
        .project-modal-sec-five-block {
          display: flex;
          align-items: center;
          .project-modal-sec-five__select-one {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
          .date-separator {
            font-size: 24px;
            margin: 0 24px;
          }
          .project-modal-sec-five__select-two {
            @extend %modal-form__select;
            width: 30%;
            min-width: 84px;
          }
        }
      }
    }

    .project-modal-sec-six {
      display: flex;
      margin-top: 16px;
      align-items: center;
      .project-modal-sec-six__checkbox {
      }
      .project-modal-sec-six__head {
        @extend %inputLabel;
        margin: 0px 0px 0px 10px;
      }
    }
    .project-modal__button {
      @extend %modal-form__button;
    }
  }
}

.digitalProfile-modal-main-block {
  top: 20px;
  .ant-modal-body {
    padding: 16px 84px 0;
  }
  .digital-profile-input {
    border-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 8px;
    .ant-input {
      height: 43px;
      border-left: none;
      &:hover,
      &:focus,
      &:focus-within {
        border-width: 1px 1px 1px 0 !important;
        border-color: rgba(0, 0, 0, 0.16);
        border-style: solid;
        box-shadow: none !important;
      }
    }
    .ant-input-group-addon {
      background-color: #fff;
      width: 164px;
      // padding-right: 0px;
      .digital-profile-logo-block {
        display: flex;
        align-items: center;
        border-right: 1px solid #d3d3d3;
        .digital-profile-logo__img {
          width: 29px;
        }
        .digital-profile-logo__p {
          margin: 0px 20px 0px 30px;
        }
      }
    }
  }

  .digitalProfile-button-block {
    display: flex;
    justify-content: center;

    .digitalProfile__button {
      @extend %modal-form__button;
    }
  }
}

.achievement-modal__form {
  @extend %modal-form;

  .input-label {
    @extend %inputLabel;
  }

  .achievement-modal-sec-one__textarea {
    @extend %modal-form__textarea;
    min-height: 160px;
    max-height: 160px;
  }
  .achievement-modal__button {
    @extend %modal-form__button;
  }
}

.skill-modal-block {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  .skill-category-block {
    margin: 10px 20px;
    .skill-category-content-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      .skill-category-content__img {
      }
      .skill-category-content__h3 {
      }
    }
  }
  .skill-subCategory-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    .subCategory-main-block {
      display: flex;
      flex-flow: wrap;

      .skill-subCategory-block-two {
        display: flex;
        position: relative;

        .skill-subCategory-content-block {
          margin: 10px 0px 10px 20px;
          padding: 5px 10px;
          border-radius: 10px;
          .skill-subCategory-content__p {
            margin: 0px;
          }
        }
        .delete-icon {
          cursor: pointer;
          position: absolute;
          right: -4px;
          bottom: 8px;
        }
      }
    }
    .skill-save-btn {
      @extend%modal-form__button;
    }
  }
}
