.card-container-main-block {
  font-family: $myFont;
  // word-spacing: $wordSpace;

  .full-page {
    padding: 100px 60px 80px 60px;
    min-height: 740px;
    background-color: #f3f3f3;
    flex-flow: initial;

    .card-holder-box {
      border-radius: 8px;
      background-color: #fff;
      width: 74%;
      border: 1px solid #d3d3d3;
      // margin-left: 80px;
      .card-heading-box {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: 92%;
        margin: 18px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // padding-top:20px;
        .card-heading-one {
        }
        .card-heading-two {
          align-self: center;
          color: #a2adc3;
          margin-left: 12px;
        }
        .filter-input {
          display: flex;
          .sort-content {
            display: flex;
            align-items: center;
            border: 1px solid #d3d3d3;
            .sort-by-text {
              padding-left: 12px;
            }
            .ant-select {
              .ant-select-selector {
                width: 140px;
                border: none;
                box-shadow: none;
              }
            }
          }
          .search-by-company {
            width: 220px;
            margin-left: 16px;
          }
        }
      }
      .card-container {
        margin: auto;
        width: 95%;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
