.my-card-block {
  width: 252px;
  height: 231px;
  padding: 20px 20px 12px 20px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  transition: box-shadow 83ms;
  &:hover {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .logo {
    padding: 0 0 0.5rem 0;
    img {
      border-radius: 200rem;
      height: 5rem;
      width: 5rem;
    }
  }
  .designation {
    color: #333e49;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    //* ------------------------------- font-style ------------------------------- */
    font-family: $myFont;
    line-height: 1.43;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
  .company-name {
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    //* ------------------------------- font-style ------------------------------- */
    opacity: 0.8;
    font-family: $myFont;
    font-size: 14px;
    line-height: 1.38;
    color: #000000;
  }

  .brief-info-main-block {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 6px;
    .brief-info-block {
      display: flex;
      align-items: center;
      margin: 0px;
      img {
        margin-right: 4px;
      }
      .brief-info-para {
        margin: 0px;
        //* ------------------------------- font-style ------------------------------- */
        opacity: 0.87;
        font-size: 14px;
        line-height: 1.38;
        color: #000000;
      }
    }
  }

  .boundary-two {
    border-top: 1px solid lightGray;
    width: 90%;
    // margin: auto;
    .applyBefore-block {
      margin-top: 9.5px;
      display: flex;
      align-items: center;
      .applyBefore-img {
        margin-right: 4px;
      }
      .due-time {
        color: $fontLight;
        margin: 0px;
        //* ------------------------------- font-style ------------------------------- */
        font-family: $myFont;
        opacity: 0.8;
        font-size: 13px;
        // line-height: 1.43;
        text-align: left;
        color: #000000;
      }
    }
  }
}
