//! ---------------------------------- font ---------------------------------- */
$myFont: CircularStd;

$fontDarker: #333743;
$fontDark: #474e54;
$fontLight: #707070;

$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
// $fontSize1: 18px;

$bold: 400;
$bold1x: 500;
$bold2x: 600;
$bold3x: 700;

$wordSpace: -4px;