@font-face {
  font-family: Lato;
  src: url("../../assets/fonts/lato/Lato-Regular.ttf") format("truetype");
}
//! ---------------------------------- font ---------------------------------- */
$myFont: Lato, sans-serif;

$smallLaptopScreen: 1326px;
$bigTabletScreen: 1024px;
$smallTableScreen: 768px;
$mobileScreen: 480px;

$fontDarker: #333743;
$fontDark: #474e54;
$fontLight: #707070;

$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
// $fontSize1: 18px;

$bold: 400;
$bold1x: 500;
$bold2x: 600;
$bold3x: 700;

$wordSpace: initial;
