@font-face {
  font-family: Lato;
  src: url("../../assets/fonts/lato/Lato-Regular.ttf") format("truetype");
}
@font-face{
  font-family: Inter;
  src: 
  url("../../assets/fonts/inter/Inter-Regular-slnt=0.ttf") format("truetype"),
  url("../../assets/fonts/inter/Inter-Black-slnt=0.ttf") format("truetype"),
  url("../../assets/fonts/inter/Inter-SemiBold-slnt=0.ttf") format("truetype"),
  url("../../assets/fonts/inter/Inter-ExtraBold-slnt=0.ttf") format("truetype"),
  url("../../assets/fonts/inter/Inter-ExtraLight-slnt=0.ttf") format("truetype"),
  url("../../assets/fonts/inter/Inter-Light-slnt=0.ttf") format("truetype"),
  url("../../assets/fonts/inter/Inter-Medium-slnt=0.ttf") format("truetype"),
  url("../../assets/fonts/inter/Inter-Thin-slnt=0.ttf") format("truetype"),
}

//! ---------------------------------- font ---------------------------------- */
$myFont: Inter, sans-serif;

$smallLaptopScreen: 1326px;
$bigTabletScreen: 1024px;
$smallTableScreen: 768px;
$mobileScreen: 480px;

$fontDarker: #333743;
$fontDark: #474e54;
$fontLight: #707070;

$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
// $fontSize1: 18px;

$bold: 400;
$bold1x: 500;
$bold2x: 600;
$bold3x: 700;

$wordSpace: initial;
