%submit-btn {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 10rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: #444584;
  border: none;

  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
}

.support-modal {
  .support-block {
    padding: 0 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .support-single-block {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 152px;
    height: 135.7px;
    border-radius: 7px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding: 12px 8px;
    margin: 0.5rem;
    .support-single-block-text {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.33;
      color: #333e49;
    }
    img {
      height: 86px;
      width: 86px;
    }
  }
  .support-faq {
    .contact-us {
      padding-top: 2rem;
      text-align: center;
      font-weight: 500;
      .contact-us-link {
        color: #137efc;
        cursor: pointer;
      }
    }
    .support-faq-submit-btn {
      @extend %submit-btn;
    }
  }
  .query-form {
    .query-form-title {
      margin-bottom: 1rem;
    }
    .query-input {
      margin-bottom: 0.75rem;
    }
    .query-submit-btn {
      @extend %submit-btn;
    }
    .ant-upload-picture-card-wrapper {
      display: flex;
      justify-content: center;
      .ant-upload-select-picture-card {
        width: 50%;
        border: 2px dashed #ccc;
        border-radius: 1rem;
      }
    }
    // .query-image{
    //     display: flex;
    //     justify-content: center;
    // }
  }
}
