%input {
  margin-bottom: 30px;
  border-radius: 0px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #d3d3d3;
  font-size: 15px;
  &:focus,
  &:hover,
  &:focus-within {
    border-width: 0 0 2px 0 !important;
    border-style: solid;
    border-color: #00bfa6;
    box-shadow: none !important;
  }
  .ant-input-prefix {
    line-height: 1.2;
    margin-right: 12px;
  }
}
%select {
  margin-bottom: 30px;
  width: 100%;
  font-size: 15px;
  // margin-bottom: 25px;
  .ant-select-selector {
    border-radius: 0px;
    border-width: 0 0 2px 0;
    border-color: #d3d3d3;
    border-style: solid;
    &:focus,
    &:hover,
    &:focus-within {
      border-width: 0 0 2px 0 !important;
      border-style: solid;
      border-color: #00bfa6;
      box-shadow: none !important;
    }
  }
}

.userForm-main-block {
  width: 30%;
  padding: 55px 36px;
  border-radius: 15px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  .userForm-header {
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.21;
    text-align: center;
    color: #333e49;
  }
  .userForm-form-block {
    display: flex;
    flex-direction: column;
    .name-block {
      display: flex;
      justify-content: space-between;
      .first-name-input {
        @extend%input;
      }

      .last-name-input {
        @extend%input;
        margin-left: 12px;
      }
    }

    .email-input {
      @extend%input;
    }

    .dob-gender-block {
      display: flex;
      justify-content: space-between;
      .date-input {
        @extend%input;
        flex: 1;
        padding: 4px 11px 0px;
        .ant-picker-input {
          flex-direction: row-reverse;
          .ant-picker-suffix {
            margin: 0 8px 0 0;
          }
        }
      }
      .gender-input {
        @extend%select;
        flex: 1;
        margin-left: 12px;
      }
    }

    .city-input {
      @extend%select;
      margin-bottom: 50px;
    }

    .ant-btn[disabled] {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      border-color: #d9d9d9;
    }
    .confirm-button {
      border-radius: 3px;
      border: solid 1px #38bdba;
      background-color: #ffffff;
      height: 46px;

      font-size: 15px;
      line-height: 1.2;
      color: #38bdba;
    }
  }
}

.upload-img-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  padding: 55px 36px;
  border-radius: 15px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  .userForm-header {
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.21;
    text-align: center;
    color: #333e49;
  }
  .upload-img-content {
    line-height: 1;

    .dummy-img-block {
      width: 136px;
      height: 136px;
      border: 1px solid #d3d3d3;
      border-radius: 80px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .upload-img-msg {
    margin: 20px 0px 40px;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #333e49;
  }
  .userImg-upload-img-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .ant-upload-picture-card-wrapper {
      flex: 1;
      .ant-upload {
        margin: 0;
        padding: 0;
        border: none;
        width: initial;
        height: initial;
      }
    }

    .userImg-upload-img-one {
      width: 146px;
      height: 46px;
      border-radius: 3px;
      border: solid 1px #444584;

      font-size: 15px;
      line-height: 1.2;
      color: #444584;
    }
    .userImg-upload-img-two {
      width: 146px;
      height: 46px;
      border-radius: 3px;
      border: solid 1px #38bdba;

      font-size: 15px;
      line-height: 1.2;
      color: #38bdba;
    }
  }
}
