div.front-container {
  background-image: url("../../components/home/img/frontImg.png");
  // background-color: #cccccc;
  padding: 0px 40px;
  margin: 0px 12px 0px 80px;
  height: 80vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  h1.front-container__h1 {
    padding-top: 60px;
    font-size: 52px;
    color: #273152;
    font-family: Avnir, sans-serif;
    font-weight: 600;
    line-height: 62px;
  }

  p.front-container__p {
    line-height: 30px;
    font-size: 20px;
    color: #273152;
    font-weight: 400;
  }

  .front-container__button {
    border: solid 1px #61d9ac;
    overflow-x: hidden;
    color: #fff;
    background-color: #61d9ac;
    font-weight: 700;
    font-size: 18px;
    margin-top: 40px;
    width: 350px;
    height: 56px;
    box-shadow: 0 0 10px 0px #61d9ac;
    transition: all 0.6s ease !important;

    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      border-radius: 50px;
      transition: 0.6s;
      width: 0;
      // left: 50%;
      bottom: 0;
      height: 100%;
      background: #fff;
    }

    &:after {
      right: 0;
      left: auto;
      background-color: #fff;
    }

    &:hover {
      color: #61d9ac;
      background-color: #fff;
      &:after {
        width: 100%;
        left: 0;
        background-color: #fff;
      }
    }
  }
}

@media (min-width: 500px) and(max-width: 1000px) {
  div.front-container {
    margin: 0px 0px 0px 0px;
    background-size: contain;
    h1.front-container__h1 {
      padding-top: 60px;
      line-height: 32px;
      font-size: 28px;
    }

    p.front-container__p {
      font-size: 16px;
      line-height: 1.5;
    }

    button.front-container__button {
      width: 200px;
      height: 40px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 500px) {
  div.front-container {
    margin: 0px 0px 0px 0px;
    background-size: contain;
    h1.front-container__h1 {
      padding-top: 60px;
      line-height: 32px;
      font-size: 28px;
    }

    p.front-container__p {
      font-size: 16px;
      line-height: 1.5;
    }

    button.front-container__button {
      width: 200px;
      height: 40px;
      margin-top: 20px;
    }
  }
}

// div.front-container {
//   margin: 0px 12px 0px 0px;
//   background-size: contain;
//   h1.front-container__h1 {
//     padding-top: 60px;
//     font-size: 42px;
//     line-height: 48px;
//   }

//   p.front-container__p {
//     font-size: 16px;
//     line-height: 1.5;
//   }

//   button.front-container__button {
//     width: 200px;
//     height: 40px;
//     margin-top: 20px;
//   }
// }
