div.hiw-container {
  background: #f6f7fa;
  margin-top: 60px;
  // padding-bottom: 0px;
  div.hiw-h1-container {
    text-align: center;
    padding: 80px 0px 60px;
    h1.hiw__h1 {
      text-decoration: underline;
      font-size: 42px;
      font-weight: 600;
      line-height: 50px;
      color: #273152;
    }
  }
  div.hiw-subContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
    div.hiw-subContainer-content {
      display: flex;
      width: 40%;

      div.hiw-subContainer-icon-container {
        margin-bottom: 120px;
        img.hiw-subContainer__icon {
        }
      }
      div.hiw-subContainer-text {
        margin-left: 28px;
        margin-top: 20px;
        // color: yellow;
        // border: 1px solid;
        h2.hiw-subContainer__h2 {
          color: #273152;
          font-size: 32px;
          font-weight: 600;
          line-height: 38px;
          // margin-top: -12px;
        }
        p.hiw-subContainer__p {
          color: #273152;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
        }
      }
      .hiw-dotted__img2 {
        position: absolute;
        top: 42%;
        left: 16%;
      }
    }

    div.hiw-subContainer-img-container {
      text-align: center;
      width: 40%;
      img.hiw-subContainer__img {
        width: 340px;
      }
    }

    .hiw-dotted__img1 {
      position: absolute;
      left: 14%;
      top: 44%;
      width: 40%;
    }
  }
  .hiw-subContainer-different {
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
    div.hiw-subContainer-content {
      display: flex;
      width: 40%;

      div.hiw-subContainer-icon-container {
        margin-bottom: 120px;
        img.hiw-subContainer__icon {
        }
      }
      div.hiw-subContainer-text {
        margin-left: 28px;
        margin-top: 20px;
        // color: yellow;
        // border: 1px solid;
        h2.hiw-subContainer__h2 {
          color: #273152;
          font-size: 32px;
          font-weight: 600;
          line-height: 38px;
          // margin-top: -12px;
        }
        p.hiw-subContainer__p {
          color: #273152;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
        }
      }
      .hiw-dotted__img2 {
        position: absolute;
        top: 42%;
        left: 16%;
      }
    }

    div.hiw-subContainer-img-container {
      text-align: center;
      width: 40%;
      img.hiw-subContainer__img {
        width: 340px;
      }
    }

    .hiw-dotted__img1 {
      position: absolute;
      left: 14%;
      top: 44%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 982px) {
  div.hiw-container {
    div.hiw-h1-container {
      padding: 32px 0px 28px;

      h1.hiw__h1 {
        font-size: 28px;
      }
    }

    div.hiw-subContainer {
      flex-direction: column;
      align-items: center;
      div.hiw-subContainer-content {
        width: initial;
        div.hiw-subContainer-icon-container {
          img.hiw-subContainer__icon {
          }
        }

        div.hiw-subContainer-text {
          h2.hiw-subContainer__h2 {
          }

          p.hiw-subContainer__p {
            br {
            }
          }
        }
      }

      div.hiw-subContainer-img-container {
        width: initial;
        img.hiw-subContainer__img {
        }
      }

      img.hiw-dotted__img1 {
      }
    }
    div.hiw-subContainer-different {
      flex-direction: column;
      align-items: center;
      div.hiw-subContainer-content {
        width: initial;
        div.hiw-subContainer-icon-container {
          img.hiw-subContainer__icon {
          }
        }

        div.hiw-subContainer-text {
          h2.hiw-subContainer__h2 {
          }

          p.hiw-subContainer__p {
            br {
            }
          }
        }
      }

      div.hiw-subContainer-img-container {
        width: initial;
        img.hiw-subContainer__img {
        }
      }

      img.hiw-dotted__img1 {
      }
    }
  }
}
