@import "./frontContainer";
@import "./opportunityContainer";
@import "./HIWcontainer";
@import "./HIHcontainer";
@import "./downloadAppContainer";
@import "./footerContainer";

div.home-container {
  // display: none;
  overflow-x: hidden;
  padding-top: 120px;
  @font-face {
    font-family: Avnir;
    src: url("../../font/AvenirLTStd-Medium.otf") format("opentype");
  }
  font-family: Avnir, sans-serif;
}

@media (max-width: 1000px) {
  div.home-container {
    padding-top: 40px;
  }
}
