div.opportunity-container {
  div.content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
    h1.opportunity__h1 {
      text-align: center;
      font-weight: 600;
      line-height: 50px;
      font-size: 42px;
      color: #273152;
    }
    p.opportunity__p {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 12px;
      color: #273152;
    }
  }
}

div.opportunity-container-two {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  text-align: center;
  margin-top: 72px;
  // padding: 0px 40px;
  div.opportunity-subContainer-two {
    flex: 1;
    padding: 0px 20px;
    img.opportunity-subContainer-two__img {
      width: 100px;
      margin-bottom: 40px;
      // padding: 0px 20px;
    }

    h3.opportunity-subContainer-two__h3 {
      color: #273152;
      font-size: 28px;
      font-weight: 600;
      line-height: 29px;
    }

    p.opportunity-subContainer-two__p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 12px;
      color: #273152;
    }
  }
}

@media screen and (max-width: 982px) {
  div.opportunity-container {
    div.content-container {
      h1.opportunity__h1 {
        font-size: 24px;
        line-height: 1.2;
        padding: 0px 20px;
      }
      p.opportunity__p {
        font-size: 16px;
        margin-top: 0px;
      }
    }
  }
  div.opportunity-container-two {
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    div.opportunity-subContainer-two {
    margin-bottom: 20px;
      img.opportunity-subContainer-two__img {
        margin-bottom: 8px;
        width: 50px;
      }
      h3.opportunity-subContainer-two__h3 {
        font-size: 20px;
        line-height: 1.2;
        
      }
      p.opportunity-subContainer-two__p {
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
}
