.worker-hiw-with-props {
  position: relative;
  margin: 0 100px;

  .worker-prop-one {
    z-index: -1;
    position: absolute;
    top: 19.25rem;
    left: 18.75rem;
    width: 48%;
  }
  .worker-prop-two {
    z-index: -1;
    position: absolute;
    bottom: 20.313rem;
    left: 19.125rem;
    width: 48%;
  }
  .worker-hiw-main-block {
    .worker-hiw-block {
      margin-bottom: 80px;
      display: grid;
      align-items: center;
      grid-template:
        "number head anim"
        "number para anim";
      .worker-hiw-img-block {
        grid-area: number;
        background: #fff;
        height: max-content;
        margin-right: 54px;
        .worker-hiw-img {
        }
      }

      .worker-hiw-head-block {
        grid-area: head;
        align-self: flex-end;
        margin-bottom: 30px;
        .worker-hiw-head-spanOne,
        .worker-hiw-head-spanTwo {
          font-size: 36px;
          font-weight: 700;
          line-height: 1.22;
          color: #333e49;
        }

        .worker-hiw-head-spanTwo {
          color: #38bdba;
          margin-left: 12px;
        }
      }

      .worker-hiw-para-block {
        grid-area: para;
        align-self: flex-start;
        .worker-hiw-para-one,
        .worker-hiw-para-two {
          font-size: 17px;
          line-height: 1.78;
          color: #333e49;
        }
      }
      .worker-hiw-animation-block {
        grid-area: anim;
        .worker-hiw-animation {
        }
      }
    }
    .worker-hiw-block:nth-child(2) {
      grid-template:
        "anim number head"
        "anim number para";
      .worker-hiw-head-block {
        .worker-hiw-head-spanTwo {
          color: #ea907a;
        }
      }
    }
    .worker-hiw-block:nth-child(3) {
      .worker-hiw-head-block {
        .worker-hiw-head-spanTwo {
          color: #7a81ea;
        }
      }
    }
  }
  @media (min-width: $bigTabletScreen) and (max-width: 1320px) {
    .worker-prop-one {
      display: none;
    }
    .worker-prop-two {
      display: none;
    }
    .worker-hiw-main-block {
      .worker-hiw-block:nth-child(1) {
        .worker-hiw-para-block {
          margin-right: 40px;
        }
      }

      .worker-hiw-block:nth-child(3) {
        .worker-hiw-para-block {
          margin-right: 0px;
        }
      }
    }
  }
  @media (min-width: $smallTableScreen) and (max-width: $bigTabletScreen) {
    .worker-prop-one {
      display: none;
    }
    .worker-prop-two {
      display: none;
    }
    .worker-hiw-main-block {
      .worker-hiw-block,
      .worker-hiw-block:nth-child(2) {
        grid-template:
          "number head head"
          "number anim anim"
          "number para para";
      }
      .worker-hiw-block:nth-child(1),
      .worker-hiw-block:nth-child(2),
      .worker-hiw-block:nth-child(3) {
        margin-bottom: 80px;
        .worker-hiw-animation-block {
          bottom: initial;
        }
      }
    }
  }
  @media (min-width: $mobileScreen) and (max-width: $smallTableScreen) {
    margin: 0 40px;
    .worker-prop-one {
      display: none;
    }
    .worker-prop-two {
      display: none;
    }
    .worker-hiw-main-block {
      .worker-hiw-block,
      .worker-hiw-block:nth-child(2) {
        grid-template:
          "number head head"
          "number anim anim"
          "number para para";
      }
      .worker-hiw-block:nth-child(1),
      .worker-hiw-block:nth-child(2),
      .worker-hiw-block:nth-child(3) {
        margin-bottom: 80px;
        .worker-hiw-para-block {
          margin-right: initial;
        }
        .worker-hiw-animation-block {
          bottom: initial;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: $mobileScreen) {
    margin: 0 20px;
    .worker-prop-one {
      display: none;
    }
    .worker-prop-two {
      display: none;
    }
    .worker-hiw-main-block {
      .worker-hiw-block,
      .worker-hiw-block:nth-child(2) {
        grid-template:
          "number head head"
          "number anim anim"
          "number para para";
      }
      .worker-hiw-block:nth-child(1),
      .worker-hiw-block:nth-child(2),
      .worker-hiw-block:nth-child(3) {
        margin-bottom: 80px;
        .worker-hiw-para-block {
          margin-right: initial;
        }
        .worker-hiw-img-block {
          margin-right: 8px;
        }
        .worker-hiw-head-spanOne,
        .worker-hiw-head-spanTwo {
          font-size: 26px;
        }
        .worker-hiw-head-spanTwo {
          margin-left: 8px;
        }
        .worker-hiw-animation-block {
          bottom: initial;
          width: 100%;
        }
      }
      .worker-hiw-block:nth-child(1) {
        .worker-hiw-animation-block {
          width: 90%;
        }
      }
    }
  }
}
