.edit-user-btn {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.user-edit-profile-modal {
  %user-profile-input {
    .ant-input-affix-wrapper {
      border-radius: 0px;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: #d3d3d3;
      font-size: 15px;
      &:focus,
      &:hover,
      &:focus-within {
        border-width: 0 0 2px 0 !important;
        border-style: solid;
        border-color: #00bfa6;
        box-shadow: none !important;
      }
      .ant-input-prefix {
        line-height: 1.2;
        margin-right: 12px;
      }
    }
  }
  %user-profile-select {
    .ant-select {
      width: 100%;
      font-size: 15px;
      // margin-bottom: 25px;
      .ant-select-selector {
        border-radius: 0px;
        border-width: 0 0 2px 0;
        border-color: #d3d3d3;
        border-style: solid;
        &:focus,
        &:hover,
        &:focus-within {
          border-width: 0 0 2px 0 !important;
          border-style: solid;
          border-color: #00bfa6;
          box-shadow: none !important;
        }
        .ant-select-selection-item {
          padding: 0 18px 0 22px;
        }
      }
      .ant-select-arrow {
        right: initial;
        left: 11px;
        top: 45%;
      }
    }
  }
  %user-profile-date {
    .ant-picker {
      width: 100%;
      flex: 1;
      padding: 4px 11px 0px;
      border-radius: 0px;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: #d3d3d3;
      font-size: 15px;
      &:focus,
      &:hover,
      &:focus-within {
        border-width: 0 0 2px 0 !important;
        border-style: solid;
        border-color: #00bfa6;
        box-shadow: none !important;
      }
      .ant-input-prefix {
        line-height: 1.2;
        margin-right: 12px;
      }
      .ant-picker-input {
        flex-direction: row-reverse;
        .ant-picker-suffix {
          color: rgba(0, 0, 0, 0.35);
          margin: 0 10px 0 0;
        }
      }
    }
  }

  .user-edit-profile-form {
    display: grid;
    grid-gap: 20px 28px;
    grid-template:
      "upload form"
      "btn btn";

    .upload-avatar-main-block {
      grid-area: upload;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 20px;
      .avatar-img-block {
        margin: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 60px;
        overflow: hidden;
        margin-bottom: 20px;

        .avatar-img {
          width: 98%;
          height: 98%;
          border-radius: 50%;
        }
      }
      .upload-avatar-profile {
        width: initial;
        .ant-upload {
          width: initial;
          height: initial;
          padding: initial;
          border: none;
          margin: 0;
        }
        .avatar-button-block {
          .avatar-button {
            min-width: 105px;
          }
        }
      }
    }
    .user-form-main-block {
      grid-area: form;
      margin: 0 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px 20px;
      .user-form-block {
        @extend%user-profile-input;
        @extend%user-profile-select;
        @extend%user-profile-date;
      }
      .user-form-block:nth-child(3) {
        grid-column: 1/3;
      }
      .user-form-block:nth-child(6) {
        grid-column: 1/3;
      }
    }
    .user-profile-submit-btn-block {
      grid-area: btn;
      justify-self: center;
      .user-profile-submit-btn {
        width: 123px;
        height: 40px;
        border-radius: 20px;
        background-color: #444584;
        border: 1px solid #444584;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.23;
        color: #ffffff;
      }
    }
  }
}
