@import "./editProfile";

.objective-block-one__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  h2 {
    color: #818181;
    font-size: 16px;
    opacity: 0.6;
    line-height: 1.38;
    margin-bottom: 8px;
  }

  .objective-modal__textarea {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
    border: solid 1px #e5e5e5;
    max-height: 160px;
    min-height: 160px;
    padding-left: 8px;
    resize: none;
  }
  .objective-block-one__buttonTwo {
    align-self: center;
    width: 115px;
    margin-top: 16px;
    height: 38px;
    border-radius: 19px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #444584;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }
}

.social-media-modal {
  .ant-modal-body {
    padding: 24px 84px 0;
  }
  .social-media-input {
    .social-media-single-input {
      border-radius: 5px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
      margin-bottom: 20px;
      .ant-input {
        height: 43px;
        border-left: none;
        &:hover,
        &:focus,
        &:focus-within {
          border-width: 1px 1px 1px 0 !important;
          border-color: rgba(0, 0, 0, 0.16);
          border-style: solid;
          box-shadow: none !important;
        }
      }
      .ant-input-group-addon {
        background-color: #fff;
        width: 170px;
        // padding-right: 0px;
        .digital-profile-logo-block {
          display: flex;
          align-items: center;
          border-right: 1px solid #d3d3d3;
          .digital-profile-logo__img {
            width: 29px;
          }
          .digital-profile-logo__p {
            margin: 0px 20px 0px 30px;
          }
        }
      }
    }
  }
  .social-media-btn {
    width: 115px;
    height: 38px;
    background-color: #444584;
    padding: 0 1.5rem;
    border-radius: 1rem;
    color: white;
  }
}

.avatar-profile-detail-block {
  .add-icon {
    cursor: pointer;
  }
}

.add-location-block {
  text-align: center;
  .ant-modal {
    width: 65%;
  }
  .heading-1,
  .heading-2,
  .heading-3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.36;
    color: #333e49;
  }
  .detect-location-btn {
    width: 286px;
    height: 47px;
    background-color: #444584;
    border: 1px solid #444584;
    border-radius: 24px;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.44;
    color: #ffffff;
    .detect-location-btn-img {
      margin-right: 20px;
    }
  }
  .heading-2 {
    margin-top: 1.5rem;
  }
  .yes-no-btn {
    margin-top: 1rem;
    .yes-btn,
    .no-btn {
      margin-right: 1rem;
      width: 98px;
      height: 45px;
      border: 2px solid #444584;
      border-radius: 23px;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .heading-3 {
    margin-top: 1.5rem;
  }
  .vehicles {
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    .single-vehicle {
      width: 8rem;
      padding: 1rem;
      // align-self: flex-end;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
      border-radius: 8px;
    }
  }
  .add-location-btn {
    width: 115px;
    margin-top: 1.2rem;
    height: 38px;
    border-radius: 19px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #444584;

    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }
}

.add-languages-modal {
  .languages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .single-language {
      text-align: center;
      width: 6rem;
      margin: 0.5rem 0.25rem;
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  .submit-btn {
    width: 115px;
    height: 38px;
    padding: 0 2rem;
    align-self: center;
    margin-top: 32px;
    background-color: #444584;
    color: #fff;
  }
}

.add-skill-modal {
  .submit-btn {
    width: 115px;
    height: 38px;
    padding: 0 2rem;
    color: #fff;
    background-color: #444584;
  }
}
