.internship-application-form{
    .internship-application-single-form{
        .single-form-title{
            margin: 1rem 0 0.5rem 0;
            color: #818181;
        }
    }
    .internship-application-submit{
        display: block;
        margin: auto;
        margin-top: 2rem;
        background-color: #4069f1;
        color: white;
        padding: 0px 3rem;
        border-radius: 2rem;
        height: 3rem;
    }
}