div.moreGigOrInternship-main-block {
  margin-left: 50px;
  width: 23%;
  div.support-block {
    h3.support-block__h3 {
    }
    div.support-question-block {
      display: flex;
      align-items: center;
      padding: 4px 16px;
      background: #fff;
      margin-bottom: 24px;
      border-radius: 2px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

      img.support-question-block__img {
      }
      p.support-question-block__p {
        margin: 0px 0px 0px 20px;
      }
      &:hover {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }
  }
  div.similar-gigOrInternship-block1 {
    h3.similar-gigOrInternship-block1__h3 {
    }
    .similar-gigOrInternship-block2 {
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      padding: 16px 18px;
      transition: box-shadow 83ms;
      margin-bottom: 16px;
      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
        cursor: pointer;
      }

      div.similar-gigOrInternship-block3-img-block {
        width: 75px;
        height: 75px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        img.similar-gigOrInternship-block3__img {
          width: 100%;
        }
      }
      div.similar-gigOrInternship-block4-content-block {
        margin-left: 24px;
        overflow: hidden;
        flex: 1;

        h4.similar-gigOrInternship-block4__h4 {
          color: #333743;
          line-height: 1.43;
          font-size: 14px;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        p.similar-gigOrInternship-block4__p {
          margin: 0px;
          padding-bottom: 6px;
          border-bottom: 1px solid #d3d3d3;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: black;
        }
        div.info-main-graphic-block {
          display: flex;
          justify-content: space-between;
          margin-top: 2px;
          div.info-graphic-block-one {
            display: flex;
            flex: 1;

            img {
            }

            .info-graphic-block-one__p {
              font-size: 12px;
              margin: 0px 0px 0px 4px;
              color: black;
            }
          }

          div.info-graphic-block-two {
            display: flex;
            flex: 1;

            img {
            }

            .info-graphic-block-two__p {
              font-size: 12px;
              margin: 0px 0px 0px 4px;
              color: black;
            }
          }
        }
      }
    }
  }
}
