.page-not-found {
    font-family: $myFont;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .page-not-found-img {
        img {
        }
    }

    .page-not-found__h1 {
        font-size: 46px;
        font-weight: 900;
        color: #333743;
        margin-bottom: 0;
    }

    .page-not-found__p {
        margin-bottom: 36px;
        font-size: 22px;
        font-weight: 500;
        color: #333e49;
    }

    .page-not-found__button {
        width: 196px;
        height: 60px;
        border-radius: 8px;
        border: solid 2px #7a81ea;
        background-color: #ffffff;

        font-size: 17px;
        font-weight: 500;
        color: #7a81ea;
    }
}
