.name-block{
    display: flex;
    justify-content: space-between;
    div{
        width:48%;
    }
}

.city-dob-block{
    display: flex;
    justify-content: space-between;
    .city-block{
        width:48%;
    }
    .dob-block{
        width:48%;
        .ant-calendar-picker{
          width:100%;
        }
    }
    
}

.gender-image-block {
  display: flex;
  .gender-image-block-one {
    border: 1px solid $fontLight;
    margin:15px 15px 15px 0px;
    padding:20px 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px lightgray;
    img {
      width: 80px;
      cursor: pointer;
    }
  }
  .gender-image-block-two {
    border: 1px solid $fontLight;
    margin:15px 15px 15px 15px;
    padding:20px 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px lightgray;
    img {
      width: 80px;
      cursor: pointer;
    }
  }
}
