.career-main-block {
  font-family: $myFont;
  padding-top: 120px;
  .workWithUs-block {
    padding: 0px 40px;
    margin: auto;
    text-align: center;
    .workWithUs-head {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.22;
      color: #333e49;
    }

    .workWithUs-para {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.22;
      color: #333e49;
    }

    .openings-button {
      width: 200px;
      height: 65px;
      border-radius: 5px;
      background-color: #699eee;

      font-size: 18px;
      font-weight: 700;
      line-height: 1.22;
      color: #ffffff;
    }
  }

  .career-hero-block {
    padding: 0 40px 80px;
    display: flex;
    align-items: flex-end;
    .career-hero-para-block {
      .career-hero-para {
        font-size: 18px;
        line-height: 1.22;
        color: #333e49;
      }
    }

    .career-hero-img-block {
      .career-hero-img {
        // width: 100%;
      }
    }
  }
  @media (min-width: $bigTabletScreen) and (max-width: $smallLaptopScreen) {
  }

  @media (min-width: $smallTableScreen) and (max-width: $bigTabletScreen) {
    .career-hero-block {
      flex-direction: column-reverse;
      .career-hero-para-block {
        text-align: center;
        margin: 0 20px;
      }
      .career-hero-img-block {
        margin: 40px;
        .career-hero-img {
          width: 100%;
        }
      }
    }
  }
  @media (min-width: $mobileScreen) and (max-width: $smallTableScreen) {
    padding-top: 80px;
    .workWithUs-block {
      .workWithUs-head {
        font-size: 32px;
      }
      .workWithUs-para {
        font-size: 16px;
      }
      .openings-button {
      }
    }
    .career-hero-block {
      flex-direction: column-reverse;
      .career-hero-para-block {
        text-align: center;
        margin: 0 20px;
        .career-hero-para {
          font-size: 16px;
        }
      }
      .career-hero-img-block {
        margin: 40px 20px;
        .career-hero-img {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: $mobileScreen) {
    padding-top: 80px;
    .workWithUs-block {
      .workWithUs-head {
        font-size: 28px;
      }
      .workWithUs-para {
        font-size: 16px;
      }
      .openings-button {
      }
    }
    .career-hero-block {
      padding: 0 20px 40px;
      flex-direction: column-reverse;
      .career-hero-para-block {
        text-align: center;
        .career-hero-para {
          font-size: 14px;
        }
      }
      .career-hero-img-block {
        margin: 40px auto;
        .career-hero-img {
          width: 100%;
        }
      }
    }
  }
}
