.user-edit-profile-modal {
  .ant-modal-footer {
    text-align: center;
    border-top: none;
  }

  .user-icon {
    width: 4rem;
    height: 4rem;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }
}
