.filter-text {
  position: absolute;
  width: 100%;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  background: rgb(255, 255, 255);

  h1 {
    position: relative;
    bottom: 12px;
    font-weight: 600;
    color: #333e49;
    font-size: 30px;
  }
}

div.ant-col.ant-col-6.filter-container {
  width: 23%;
  margin-right: 34px;

  div.filter-container {
    .ant-collapse {
      border: none;
    }
    div.ant-collapse.ant-collapse-icon-position-left {
      top: 72px;
      background: rgb(255, 255, 255);
      border-radius: 0px 0px 8px 8px;
      position: absolute;
      width: 100%;
      border-top: none;
      border-bottom: none;
      padding: 0px 20px;
      div.ant-collapse-item {
        border: none;
        padding-bottom: 20px;
        div.ant-collapse-header {
          border-bottom: 1px solid #d9d9d9;
          padding: 0 0 4px 0;
          color: #333e49;
          font-size: 16px;
          .anticon.anticon-right.ant-collapse-arrow {
            left: initial;
            bottom: -4px;
            right: 16px;
            svg {
              path {
              }
            }
          }
        }
        .ant-collapse-content.ant-collapse-content-active {
          border-top: none;
          // width: 80%;
          margin: auto;
          .ant-collapse-content-box {
            display: flex;
            flex-direction: column;
            padding: 12px 0px 0px 4px;
            max-height: 200px;
            overflow: auto;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* IE 10+ */
            &::-webkit-scrollbar {
              width: 0px;
              background: transparent; /* Chrome/Safari/Webkit */
            }
            .ant-checkbox-wrapper {
              margin: 0 0 8px 0;
              .ant-checkbox {
                margin-right: 8px;
                .ant-checkbox-input {
                }
                // .ant-checkbox-inner {
                //   background-color: #f3f3f3;
                //   border: 1px solid #d3d3d3;
                // }
              }

              span:nth-child(2) {
                color: #000;
                font-size: 15px;
              }
            }
            .ant-checkbox.ant-checkbox-checked {
              .ant-checkbox-inner {
                background-color: #1890ff;
                border-color: #1890ff;
              }
            }
          }
        }

        div.ant-collapse-content.ant-collapse-content-inactive {
          padding-bottom: 20px;
        }
      }
    }
  }
}
