// .wallet{
.payment_method_modal {
  top: 20px;
  .payment_method_modal_title {
    margin-bottom: 14px;
    font-size: 18px;
    color: #818181;
  }

  .ant-modal-body {
    padding: 12px 0 0 0;
  }
  .ant-tabs {
    .ant-tabs-bar {
      border: none;
      margin: 0;
      .ant-tabs-tab {
        padding-bottom: 6px;
        &:hover {
          color: #000;
        }
      }
      .ant-tabs-tab.ant-tabs-tab-active {
        font-weight: 600;
        color: #000;
      }
      .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
        background-color: #000;
      }
    }
  }
  .submit_btn_block {
    text-align: center;
    margin: 0;
    .submit_btn {
      margin: 30px 0 0 0;
      padding: 0 2rem;
      border: none;
      border-radius: 2rem;
      height: 2.5rem;
      background: #444584;
    }
  }

  .paytm_input {
    text-align: initial;
    margin-top: 20px;
    .heading {
      font-size: 14px;
      line-height: 1.43;
      color: #333e49;
      margin: 12px 0 8px 0;
    }
    .ant-row.ant-form-item {
      margin-bottom: 0;
    }

    .walletDetailInput {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
      border: solid 1px #e5e5e5;
      background-color: #ffffff;
      height: 40px;
      // word-spacing: -4px;
      text-indent: 8px;
    }
  }
  .bank_input {
    text-align: initial;
    margin-top: 20px;
    .heading {
      font-size: 14px;
      line-height: 1.43;
      color: #333e49;
      margin: 12px 0 8px 0;
    }
    .walletDetailInput {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
      border: solid 1px #e5e5e5;
      background-color: #ffffff;
      height: 40px;
      // word-spacing: -4px;
      text-indent: 8px;
    }
  }
}
.tab-options {
  margin-top: 1rem;
}
// }

.wallet {
  .payment-summary {
    .add-payment,
    .redeem-now {
      color: #252eb7;
      font-weight: 500;
    }
  }
}
