.wallet-main-block {
  margin-top: 4rem;
  display: flex;
  font-family: $myFont;
  min-height: 680px;
  .earning-block {
    width: 64%;
    margin-left: 24px;
    .earning-inner-block {
      width: 85%;
      margin: 60px auto 0;
      // background-color: darkorange;
      .payment-btn-and-earning {
        height: 10rem;
        background-color: #f3f3f3;
        border-radius: 2rem;
        display: flex;
        .coin-img {
          margin: -2rem 0 0 4rem;
        }
        .buttons {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          align-items: center;
          .redeem-btn {
            width: 10rem;
            height: 3.5rem;
            background-color: #444584;
            border: 1px solid #444584;
            font-size: 15px;
            font-weight: 600;
            color: #ffffff;
          }
          .add-payment-method-btn {
            width: 15rem;
            height: 3.5rem;
            background-color: #4069f1;
            border: 1px solid #4069f1;
            font-size: 15px;
            font-weight: 600;
            color: #ffffff;
          }
        }
      }
    }
    .earning-list-block {
      width: 85%;
      margin: auto;
      .title {
        margin: 40px 0px 30px 0px;
        font-size: 26px;
        font-weight: 600;
        color: #333e49;
      }

      .list {
        .single-item {
          padding: 1.2rem;
          margin: 0 0 1.2rem;
          padding: 1rem 1.5rem;
          border-radius: 7px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
          border: 1px solid #ccc;
          display: flex;
          .envelop-img {
          }
          .earning-description {
            margin-left: 2rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            .earning-description-title {
              font-size: 1.1rem;
              font-weight: bold;
              color: #333e49;
            }
            .earning-description-date {
              margin-top: 5px;
              .description-date-string {
                vertical-align: middle;
                margin-left: 0.5rem;
                opacity: 0.5;
                color: #000000;
              }
            }
            .earning-description-amount {
              margin: 0;
              text-align: right;
              font-size: 1.5rem;
              font-weight: 600;
              color: #5468d1;
            }
            .earning-description-status {
              .description-status-string {
                vertical-align: middle;
                margin-left: 6px;
              }
            }
          }
        }
        .noEarning-block {
          display: flex;
          flex-direction: column;
          align-items: center;
          .noEarning-img-block {
            margin-bottom: 20px;
          }
          .noEarning-msg {
            width: 64%;
            font-size: 26px;
            color: #4d4d4d;
          }
        }
      }
    }
  }

  .transaction-block {
    width: 36%;
    background-color: #f3f3f3;
    min-height: 100vh;
    .credit-card-block-wallet {
      position: relative;
      width: fit-content;
      text-align: center;
      margin: 50px auto 0;
      img.credit-card__img {
      }
      .credit-card__amount {
        position: absolute;
        top: 17px;
        right: 24px;
        font-weight: 900;
        color: #5468d1;
        font-size: 13px;
      }
      .credit-card__details {
        position: absolute;
        text-align: left;
        bottom: 20px;
        left: 36px;
        color: #fff;
        .credit-card__number {
          font-size: 1rem;
          span {
            font-size: 13px;
          }
        }
        .credit-card__holder {
          font-size: 9px;
          line-height: 1.8;
        }
        .credit-card__name {
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .credit-card__validity {
        position: absolute;
        text-align: left;
        color: white;
        bottom: 20px;
        right: 50px;
        .credit-card__validity-duration {
          font-size: 1rem;
          font-weight: 500;
        }
        .credit-card__validity-span {
          font-size: 9px;
        }
      }
      .credit-card__title {
        font-size: 9px;
        font-weight: 900;
        color: black;
      }
    }
  }

  .transaction-inner-block {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 60px;
    .transaction__h1 {
      margin: 40px 0px 30px 0px;
      font-size: 26px;
      font-weight: 600;
      color: #333e49;
    }
    .no-transaction-block {
      display: flex;
      align-self: center;
      align-items: center;
      margin-top: 2rem;
      .anticon {
        font-size: 3.5rem;
        margin-right: 1rem;
      }
      .no-transaction-text {
        opacity: 0.7;
        font-family: Inter;
        font-size: 24px;
        color: #000000;
      }
    }

    div.transaction-content-block {
      display: flex;
      padding: 20px;
      margin-bottom: 20px;
      background: #fff;
      border-radius: 7px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
      div.transaction-img-block {
        img.transaction__img {
        }
      }

      div.transaction-title-or-date {
        margin: 0px 36px 0px 24px;
        h3.transaction-title__h3 {
          margin: 0px 0px 16px 0px;
          line-height: 1;
        }

        div.transaction-date {
          display: flex;
          align-items: center;
          img.transaction-date__img {
          }

          span.transaction-date__span {
            margin-left: 8px;
            // font-size: 12px;
          }
        }
      }

      div.transaction-summary-block {
        text-align: end;
        h1.transaction-summary__h1 {
          margin: 0px 0px 14px 0px;
          line-height: 1;
          font-size: 18px;
          font-weight: 700;
        }

        div.transaction-summary__status {
          display: flex;
          align-items: center;
          img.transaction-summary-status__img {
            width: 16px;
          }

          span.transaction-summary-status__img {
            margin-left: 8px;
            // font-size: 12px;
          }
        }
      }
    }
  }
}
