// div.wallet {
//   padding: 100px 60px 80px 60px;
//   background-color: #fafafa;
//   div.payment-summary {
//     display: flex;
//     //   flex-direction: column;
//     align-items: center;
//     background-color: #252eb7;
//     border-radius: 8px;
//     justify-content: space-between;
//     padding: 20px 80px;
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);

//     div.summary-container {
//       display: flex;
//       align-items: center;
//       img.money-image {
//         width: 80px;
//       }

//       div.content {
//         margin-left: 60px;
//         h1.total-money {
//           color: white;
//           margin-bottom: 0px;
//         }

//         h4.message {
//           color: white;
//           margin-bottom: 0px;

//         }
//       }
//     }

//     div.button-container {
//       button.add-payment {
//         margin-right: 24px;
//       }

//       button.redeem.now {
//       }
//     }
//   }

//   div.transaction-detail {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: #fff;
//     padding: 20px 40px;
//     margin-top: 40px;
//     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
//     border-radius: 8px;

//     div.message {
//       display: flex;
//       align-items: center;
//       img {
//       }

//       h2.message-content {
//         margin-left: 12px;
//         margin-bottom: 0px;
//       }
//     }

//     div.date-time-money {
//       display: flex;
//       align-items: center;
//       width: 36%;
//       justify-content: space-between;
//       div.date {
//         display: flex;
//         align-items: center;

//         img {
//         }

//         h3.date-content {
//           margin-bottom: 0px;
//           margin-left: 8px;
//         }
//       }
//       div.time {
//         display: flex;
//         align-items: center;

//         img {
//         }

//         h3.time-content {
//           margin-bottom: 0px;
//           margin-left: 8px;
//         }
//       }

//       div.rupee {
//         display: flex;
//         align-items: center;

//         img {
//         }

//         h2.rupee-content {
//           margin-bottom: 0px;
//         }
//       }
//     }
//   }
// }

.wallet {
  margin-top: 4rem;
  display: flex;
  .earning-block {
    width: 64%;
    .earning-inner-block {
      width: 85%;
      margin: auto;
      padding: 1rem 0;
      // background-color: darkorange;
      .payment-btn-and-earning {
        margin-top: 2.5rem;
        height: 10rem;
        background-color: #f3f3f3;
        border-radius: 2rem;
        display: flex;
        .coin-img {
          margin: -2rem 0 0 4rem;
        }
        .buttons {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          align-items: center;
          .add-payment-method-btn {
            background-color: #4069f1;
            color: #fff;
            font-weight: 500;
            font-size: 1rem;
            width: 15rem;
            height: 3.5rem;
          }
          .redeem-btn {
            background-color: #6668c4;
            color: #fff;
            font-weight: 500;
            font-size: 1rem;
            width: 10rem;
            height: 3.5rem;
          }
        }
      }

      .earning-list-block {
        padding: 1rem 0;
        .title {
          font-size: 1.5rem;
          font-weight: bold;
          margin: 2rem 0 1rem 0;
        }
        .list {
          .single-item {
            padding: 1.2rem;
            margin: 1.2rem 0;
            padding: 1rem 1.5rem;
            border-radius: 7px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
            border: 1px solid #ccc;
            display: flex;
            .envelop-img {
            }
            .earning-description {
              margin-left: 2rem;
              display: flex;
              justify-content: space-between;
              width: 100%;
              .earning-description-title {
                font-size: 1.1rem;
                font-weight: bold;
              }
              .earning-description-date {
                margin-top: 5px;
                .description-date-string {
                  vertical-align: middle;
                  margin-left: 0.5rem;
                }
              }
              .earning-description-amount {
                font-size: 1.5rem;
                font-weight: bolder;
                color: #5468d1;
              }
              .earning-description-status {
                .description-status-string {
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
    }
  }

  div.transaction-block {
    width: 36%;
    background-color: #f3f3f3;
    min-height: 100vh;
    div.credit-card-block-wallet {
      position: relative;
      text-align: center;
      margin-top: 48px;
      padding: 0 5rem;
      img.credit-card__img {
      }
      .credit-card__amount {
        position: absolute;
        top: 1.1rem;
        left: 16.5rem;
        font-weight: 900;
        color: #5468d1;
        font-size: 13px;
      }
      .credit-card__details {
        position: relative;
        bottom: 5rem;
        right: 5.5rem;
        color: #fff;
        .credit-card__number {
          font-size: 1rem;
        }
        .credit-card__holder {
          font-size: 9px;
          padding-right: 3rem;
        }
        .credit-card__name {
          font-size: 1rem;
          font-weight: 500;
          padding-right: 1rem;
        }
      }
      .credit-card__validity {
        position: relative;
        color: white;
        bottom: 7.75rem;
        left: 4rem;
        .credit-card__validity-duration {
          font-size: 1rem;
          font-weight: 500;
        }
        .credit-card__validity-span {
          font-size: 9px;
          padding-right: 2.3rem;
        }
      }
      .credit-card__title {
        font-size: 9px;
        font-weight: 900;
        color: black;
      }
    }
  }

  div.transaction-inner-block {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    h1.transaction__h1 {
      margin: 52px 0px 1.2rem 0px;
      margin-top: -2rem;
      line-height: 1;
    }

    div.transaction-content-block {
      display: flex;
      padding: 20px;
      margin-bottom: 20px;
      background: #fff;
      border-radius: 7px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
      div.transaction-img-block {
        img.transaction__img {
        }
      }

      div.transaction-title-or-date {
        margin: 0px 36px 0px 24px;
        h3.transaction-title__h3 {
          margin: 0px 0px 16px 0px;
          line-height: 1;
        }

        div.transaction-date {
          display: flex;
          align-items: center;
          img.transaction-date__img {
          }

          span.transaction-date__span {
            margin-left: 8px;
            // font-size: 12px;
          }
        }
      }

      div.transaction-summary-block {
        text-align: end;
        h1.transaction-summary__h1 {
          margin: 0px 0px 14px 0px;
          line-height: 1;
          font-size: 18px;
          font-weight: 700;
        }

        div.transaction-summary__status {
          display: flex;
          align-items: center;
          img.transaction-summary-status__img {
            width: 16px;
          }

          span.transaction-summary-status__img {
            margin-left: 8px;
            // font-size: 12px;
          }
        }
      }
    }
  }
}
