.downloadPracifyApp-main-block {
  display: flex;
  position: relative;
  top: 85px;
  margin: 0px 40px;
  .downloadPracifyApp-content-block {
    flex: 1;
    margin: 80px 0 0 98px;
    .downloadPracifyApp-header {
      font-size: 41px;
      margin-bottom: 8px;
      word-spacing: -12px;
      font-weight: 500;
      color: #333e49;
    }

    .downloadPracifyApp-para {
      margin: 0 200px 20px 0;
      font-size: 20px;
      color: #333e49;
      span: {
        font-size: 22px;
        font-weight: 500;
        color: #333e49;
      }
    }

    .phone-input-block {
      display: flex;
      align-items: center;
      width: 34%;
      margin-bottom: 20px;
      .country-code {
        font-size: 20px;
        color: #333e49;
        margin-right: 12px;
      }

      .phone-input {
        width: 182px;
        height: 48px;
        border: solid 1px #333e49;
        border-radius: 0;
        border-right: none;
      }

      .phone-button {
        width: 102px;
        height: 48px;
        background-color: #38bdba;
        border-radius: 0;
        border: 2px solid #38bdba;

        font-size: 18px;
        color: #fff;
      }
    }

    .download-button-block {
      display: flex;
      width: 40%;
      justify-content: space-between;

      .google-icon {
        width: 150px;
        height: 50px;
      }

      .apple-icon {
        width: 150px;
        height: 50px;
      }
    }
  }

  .phone-mockup-block {
    flex: 0.5;
    z-index: -1;

    .phone-mockup {
      width: 360px;
    }
  }
}
