.hero-main-block {
  // box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.16);
  // border-bottom: solid 20px #ffffff;
  padding: 100px 50px 0 50px;
  background-image: url("../../assets/img/landingPage/heroBackground.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: bottom;
  background-position-y: -70px;

  display: flex;
  .hero-content {
    padding: 130px 50px 0 0px;
    .hero-content-heading {
      word-spacing: -18px;
      line-height: 1;
      margin-bottom: 16px;

      font-size: 64px;
      font-weight: 500;
      color: #ffffff;
    }

    .hero-content-para {
      font-size: 32px;
      line-height: 1.25;
      color: #ffffff;
    }

    .hero-content-button {
      width: 263px;
      height: 60px;
      border-radius: 30px;
      border: solid 2px #ffffff;
      background-color: transparent;

      font-size: 22px;
      line-height: 1.82;
      color: #ffffff;
    }
  }

  .hero-img {
    margin-top: 50px;
  }
}
