.hero-main-block {
  padding: 100px 50px 0 50px;
  background-image: url("../../assets/img/landingPage/heroBackground.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: bottom;
  background-position-y: -86px;

  display: flex;
  .hero-content {
    flex: 1;
    padding: 130px 50px 0 0px;
    .hero-content-heading {
      // word-spacing: -18px;
      line-height: 58px;
      margin-bottom: 16px;

      font-size: 54px;
      font-weight: 500;
      color: #ffffff;
    }

    .hero-content-para {
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
      margin-right: 120px;
    }

    .hero-content-button {
      width: 13em;
      height: 4em;
      border-radius: 2em;
      border: solid 2px #ffffff;
      background-color: transparent;

      font-size: 1.25em;
      line-height: 1.82;
      color: #ffffff;
    }
  }
  .hero-img-block {
    margin-top: 50px;
    flex: 0.5;
    .hero-img {
      width: 40vw;
    }
  }
}

@media (min-width: $bigTabletScreen) and (max-width: $smallLaptopScreen) {
  .hero-main-block {
    background-position-y: -80px;
    @media (min-width: $bigTabletScreen) and (max-width: 1160px) {
      background-position-y: -35px;
    }
    .hero-content {
      .hero-content-heading {
        font-size: 50px;
      }

      .hero-content-para {
        margin-right: 152px;
        font-size: 20px;
      }

      .hero-content-button {
        width: 176px;
        height: 48px;
      }
    }
  }
}
@media (min-width: $smallTableScreen) and (max-width: $bigTabletScreen) {
  .hero-main-block {
    background-position-y: 0px;
    .hero-content {
      padding: 72px 20px 0 0px;
      .hero-content-heading {
        font-size: 42px;
      }

      .hero-content-para {
        font-size: 18px;
        margin-right: 0;
      }

      .hero-content-button {
        width: 176px;
        height: 48px;
      }
    }

    .hero-img-block {
      margin-top: 32px;
      .hero-img {
        width: 44vw;
      }
    }
    @media (min-width: $smallTableScreen) and (max-width: 838px) {
      .hero-content {
        padding: 32px 20px 0 0px;
        .hero-content-heading {
          font-size: 32px;
        }
        .hero-content-para {
        }
        .hero-content-button {
        }
      }
      .hero-img-block {
        margin-top: 14px;
      }
    }
  }
}
@media (min-width: $mobileScreen) and (max-width: $smallTableScreen) {
  .hero-main-block {
    background-position-y: 0px;
    flex-direction: column;
    background-size: cover;
    .hero-content {
      padding: 0px 20px 0 0px;
      .hero-content-heading {
        line-height: 1.2;
        font-size: 32px;
      }
      .hero-content-para {
        line-height: 1.2;
        font-size: 16px;
        margin-right: 0;
      }
      .hero-content-button {
        width: 176px;
        height: 48px;
      }
    }
    .hero-img-block {
      margin-top: 14px;
      align-self: flex-end;
      .hero-img {
        width: 54vw;
      }
    }
  }
}
@media (max-width: $mobileScreen) {
  .hero-main-block {
    padding: 78px 20px 0 20px;
    background-position-y: 0px;
    flex-direction: column;
    background-size: cover;
    .hero-content {
      padding: 0;
      .hero-content-heading {
        line-height: 1.2;
        font-size: 24px;
      }
      .hero-content-para {
        line-height: 1.2;
        font-size: 16px;
        margin-right: 0;
      }
      .hero-content-button {
        width: 176px;
        height: 48px;
      }
    }
    .hero-img-block {
      margin-top: 14px;
      align-self: flex-end;
      .hero-img {
        width: 70vw;
      }
    }
  }
}
