.keepSimple-main-block {
  margin-top: 120px;
  .keepSimple-message-block {
    display: flex;
    justify-content: center;
    .keepSimple-message {
      position: relative;
      word-spacing: -8px;
      text-align: center;
      color: #333e49;
      line-height: 44px;
      font-weight: 600;
      font-size: 3em;

      .funSvg1 {
        position: absolute;
        top: -50px;
        left: 160px;
      }
      .funSvg2 {
        position: absolute;
        top: -24px;
        right: 100px;
      }
      .funSvg3 {
        position: absolute;
        top: 19px;
        left: -66px;
      }
      .funSvg4 {
        position: absolute;
        top: 40px;
        right: -30px;
      }
      .funSvg5 {
        position: absolute;
        bottom: 0px;
        left: 60px;
      }
    }
  }

  .content-main-block {
    display: flex;
    justify-content: space-evenly;
    // margin: 40px;
    .content-block {
      text-align: center;
      margin: 6px;
      .content-img {
      }

      .content-heading {
        font-size: 20px;
        font-weight: 900;
      }

      .content-subHeading {
        font-size: 2.2em;
        word-spacing: -8px;
        color: #333e49;
        margin: 0 0px 8px;

        font-weight: 600;
        line-height: 36px;
      }

      .content-para {
        font-size: 20px;
        color: #3d3d3d;
        margin: 0 36px;
      }
    }
    .content-block:nth-child(1) {
      .content-heading {
        color: #ff5e16;
      }
    }
    .content-block:nth-child(2) {
      margin-left: 20px;
      .content-heading {
        color: #4385e0;
      }
    }
    .content-block:nth-child(3) {
      .content-heading {
        color: #4d52d1;
      }
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1230px){
  .content-main-block{
    width: 100vw;
    margin: 0em !important;
    .content-block{
      margin: 0px;
      img{
        width: 33vw;
        height: 80vh;
      }
    }
    .content-block:nth-child(2){
      margin: 0 !important;
    }
  }
  }
  
  @media screen and (min-width: 320px) and (max-width: 768px){
    .keepSimple-main-block{
      margin-bottom: 5em;
      .keepSimple-message {
        font-size: 1.5em !important;
        padding: 0 0.5em;
      }
    .content-main-block{
      width: 100vw;
      // margin: 2em !important;
      display: block !important;
      text-align: center;
      .content-subHeading{
        font-size: 1.5em !important;
      }
      .content-para{
        font-size: 1.25em !important;
      }
      .content-block{
        width: 100vw;
        margin: 0 !important;
        img{
          width: 100vw;
        }
      }
  }
  }
  }
  