@import "./hero";
@import "./keepSimple";
@import "./workRemotely";
@import "./downloadPracifyApp";
@import "./footer";

.landingPage-main-block {
  font-family: $myFont;
  word-spacing: -4px;
  overflow-x: hidden;
}
