.internship-details-page {
  font-family: $myFont;
  word-spacing: $wordSpace;
  background-color: #fafafa;
  padding: 100px 0px 80px 0px;
  display: flex;
  justify-content: center;
  min-height: 680px;

  .internship-main-block {
    width: 55%;
    padding: 20px 46px 46px 46px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d3d3d3;

    // margin:80px;
    .internship-provider-block-One {
      display: flex;
      margin: 20px 0px;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 24px;

      .internship-provider-block-two {
        display: flex;
      }
      .internship-provider-block-three {
        width: 120px;
        height: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        img {
          width: 100%;
        }
      }
      .internship-provider-block-four {
        margin-left: 32px;
        .internship-provider-heading-one {
          line-height: 1.43;
          margin: 0px;
        }
        .internship-provider-heading-two {
          color: $fontDark;
          font-size: 22px;
          line-height: 1.36;
        }
        .update-message-block {
          display: flex;
          align-items: center;
          border: 1px solid #1bba27;
          padding-right: 82px;
          border-radius: 3px;
          .update-message-block__icon {
            width: 22px;
            margin: 8px 32px 8px 36px;
          }
          .update-message-block__span {
            font-size: 14px;
            font-weight: 500;
            color: #1bba27;
          }
          .update-message-block__span.link {
            color: red;
          }
        }
      }
    }

    .internship-brief-block {
      display: flex;
      justify-content: space-between;
      // margin: auto;
      // padding: 10px;
      border-radius: 8px;
      // background: #f9f9fd;
      .internship-brief-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100px;
        height: 95px;
        border: 1px solid #d3d3d3;

        border-radius: 7px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
        background-color: #f3f3f3;
        h5 {
          color: $fontLight;
          font-size: 14px;
          margin-bottom: 1px;
        }
        h4 {
          color: $fontDarker;
          font-size: 16px;
          margin-bottom: 0px;
        }
      }
    }
    .boundary-one {
      border-bottom: 1px solid #e8e8e8;
      margin: 20px auto 36px;
    }
    .internship-detail-block {
      margin-right: 40px;
    }
    .apply-block {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.16);
      .apply-button-block {
        width: 207px;
        height: 40px;
        border-radius: 26px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        background-image: linear-gradient(103deg, #5a87e5 4%, #37cfdd 95%);
      }
    }
  }
}
