.internship-details-page {
  font-family: $myFont;
  background-color: #fafafa;
  padding: 100px 0px 80px 0px;
  display: flex;
  justify-content: center;
  min-height: 680px;

  .internship-main-block {
    width: 55%;
    padding: 20px 46px 30px 46px;
    border-radius: 9px;
    background-color: #fff;
    align-self: flex-start;

    .ant-tabs-tab {
      &:hover {
        color: #000;
      }
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      font-weight: 600;
      color: #000;
    }
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
      background-color: #000;
    }

    // margin:80px;
    .internship-provider-block-One {
      display: flex;
      margin: 20px 0px;
      padding-bottom: 24px;

      .internship-provider-block-two {
        display: flex;
        align-items: center;
        .internship-provider-block-three {
          margin-left: 2px;
          overflow: hidden;
          width: 86px;
          height: 86px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
          border-radius: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .internship-provider-block-four {
          margin-left: 32px;
          .internship-provider-heading-one {
            margin: 0;
            font-size: 20px;
            font-size: 18px;
            font-weight: 600;
            color: #333e49;
          }
          .internship-provider-heading-two {
            opacity: 0.6;
            font-size: 16px;
            color: #000000;
          }
          .update-message-block {
            display: flex;
            align-items: center;
            border: 1px solid #1bba27;
            padding-right: 82px;
            border-radius: 3px;
            .update-message-block__icon {
              width: 22px;
              margin: 8px 32px 8px 36px;
            }
            .update-message-block__span {
              font-size: 14px;
              font-weight: 500;
              color: #1bba27;
            }
            .update-message-block__span.link {
              color: red;
            }
          }
        }
      }
    }

    .internship-brief-block {
      display: grid;
      grid-template:
        "stipend duration"
        "location position"
        "update update";
      border-radius: 8px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      margin: 2px 2px 40px 2px;
      %box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        img {
          margin-right: 12px;
        }
        span {
          font-size: 14px;
          color: #333743;
        }
      }
      .internship-brief-content-one {
        grid-area: stipend;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        @extend%box;
      }
      .internship-brief-content-two {
        grid-area: duration;
        border-bottom: 1px solid #e8e8e8;
        @extend%box;
      }
      .internship-brief-content-three {
        grid-area: location;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        @extend%box;
      }
      .internship-brief-content-four {
        grid-area: position;
        border-bottom: 1px solid #e8e8e8;
        @extend%box;
      }
      .internship-brief-content-five {
        grid-area: update;
        @extend%box;
      }
    }
    // .boundary-one {
    //   border-bottom: 1px solid #e8e8e8;
    //   margin: 20px auto 36px;
    // }
    .internship-detail-block {
      margin: 2px 2px 0 2px;
      border-radius: 10px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
      .internship-detail-content {
        padding: 20px;
        display: grid;
        grid-template:
          "img head"
          "img para" /0fr 1fr;
        border-bottom: 1px solid #e8e8e8;
        img {
          grid-area: img;
          margin-right: 12px;
        }
        h2 {
          grid-area: head;
          font-size: 18px;
          line-height: 1;
          color: #333e49;
        }
        .internship-detail-para-block {
          grid-area: para;
          p {
            opacity: 0.5;
            font-size: 16px;
            line-height: 1.13;
            color: #000000;
          }
        }
        &:nth-child(4) {
          border-radius: 10px;
        }
      }
    }
    .internship-provider-detail-block {
      .internship-provider {
        .internship-provider-head {
          font-size: 19px;
          font-weight: 600;
          line-height: 1.4;
          color: #333e49;
        }
        .internship-provider-para {
          font-size: 15px;
          line-height: 1.38;
          opacity: 0.5;
          color: #000000;
        }
        &:nth-child(2) {
          margin-top: 30px;
          .internship-provider-para {
            opacity: initial;
            color: #0693c2;
          }
        }
      }
    }
    .apply-block {
      position: fixed;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.16);
      .apply-button-block {
        width: 200px;
        height: 50px;
        border-radius: 26px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        background-color: #38bdba;
        border: 1px solid #38bdba;

        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}
